[2014-12-12 15:24] GavinRooney opened #21 "Right aligned chat head is blocking touch input"
Currently when the chat head is set using setPresentationMode() with either ICMPresentationModeBottomRight or ICMPresentationModeTopRight it is blocking touch along the horizontal axis of app at same height and positioning as the chathead.

[2014-12-16 12:33] emakovsky opened #22 "Duplicated push notifications"
When I send a message from web I receive 4 similar notifications on the client! And notification text contains 4 duplicated messages.

Do you experience the same problem? Or how can I debug the issue and realize where is the problem

[2014-12-25 11:55] emakovsky opened #23 "Intercom.enablePush is not always work"
When I try to enablePush sometimes I get an error "User email or user_id must be supplied". As a result push notifications don't come to my device. Traffic log:

[2014-12-25 12:02] emakovsky opened #24 "Push notification doesn't come for the first time"
Steps:
1) open app (there are no messages from intercom)
2) hide app
3) send message through web app. We get it on the device I see it in logs but there are no notification

if I open app
4)  an icon with messages counter appears in the corner
5) hide app
6) send another message
7) notification appears

It seems push notification receiver is initialized after floating panel with messages count is

[2014-12-25 12:14] emakovsky opened #25 "Selection problems on conversation screen"
Steps:
1. Open new conversation with messages.
2. Click on the message and hold for a moment.
-> text of message is selected.
3. Click on the screen for deselecting.

-> Selecting does not  disappear. (Only when you click on the other message).

Also it's impossible to select first and second lines of the text. The first line is a template, e.g. "Hi name"

[2014-12-25 12:21] emakovsky opened #26 "Conversation screen is redrawn by other screen"
Nexus 4, 5, Android 1.5.0

Steps:
1. Open new conversation.
2. Put the cursor in the input field.
-> Keyboard automatically appear.
3. Hide the application (don't close).
4. Open the app again.

-> Layering screens.
![1](https://cloud.githubusercontent.com/assets/2292757/5553970/9415c76e-8c49-11e4-9a8e-b9299183fe13.png)

[2014-12-25 12:25] emakovsky opened #27 "Can send an empty message on the conversation screen"
Steps:
1. Open any conversation.
2. Enter space (newline) and send message.

-> Empty message appear in the list marked "Tap to retry". This message will not be send for a long time. Add notification that message can not be blank.

Comment: Enter symbols "<>" and send. -> Empty message appear in the list marked "Tap to retry".

[2014-12-25 12:35] emakovsky opened #29 ""Unable to load conversations" displayed on the screen for a few minutes when you open app for the first time."
"Unable to load conversations" displayed on the screen for a some minutes when you open app for the first time.

![](http://content.screencast.com/users/Vika_Kalikh/folders/Snagit/media/07c6fa41-cc94-46de-a47c-9e38dc7217ad/12.23.2014-15.15.png)

[2014-12-25 12:37] emakovsky opened #30 "No "add conversation" button in the header"
There is no "adding conversation" button on the header some times.

Unfortunatily it happens randomly and I can't provide any details.

![](http://content.screencast.com/users/Vika_Kalikh/folders/Snagit/media/06e06b13-2bc9-42ac-a6f8-9bd86d6886a6/12.23.2014-15.29.png)

[2014-12-25 12:39] emakovsky opened #31 "Message will not be send after disconnecting and connecting to Internet."
Steps:
1. Open any conversation.
2. Disconnect the Internet connection.
3. Send any message.
-> Message appear in the list marked "Tap to retry".

4. Connect the Internet connection.

-> The message do not sent. When you close this conversation and open again this message do not displayed in the list.

Comment: No possibility to view conversations and add messages without the Internet connection.

[2014-12-25 12:41] emakovsky opened #32 "Sometimes conversations with messages do not saved after closing for the first time."
Steps:
1. Open new conversation.
2. Send any message.
-> Message was sent successfully.
3. Close this conversation.

-> There is no conversations in the list. (some times for the first time)

[2014-12-31 16:55] marcoRS opened #33 "Google Play Services 6.5 Dependency"
I noticed you now require Google Play Services as a dependency. The way the README explains to include it is by adding:

        compile 'com.google.android.gms:play-services:6.5.87'

I'd imagine this includes all Apis however in version 6.5 Google introduced selective dependencies where you can choose specific Apis rather than everything. This helps avoid 65K method limit and makes the apk slimme

[2014-12-31 18:00] GavinRooney opened #34 "Messages should persist in the SDK"
This is to allow local storage of conversations and maintain failed messages for resending in the future when reconnected to internet

[2015-01-07 14:14] GavinRooney commented on #31
The fix for the second part of this will require offline mode to be finished. This is one of the features being worked on this month. https://github.com/intercom/intercom-android/issues/34
I will update this when we have a version with offline mode ready for you

[2015-01-13 11:37] #22 closed

[2015-01-13 11:41] DaleCantwell commented on #23
This is typically caused by the ordering of the setup. Currently we would require a session to be successful before setting up push as we need a user id or email to match the gcm key with. We are currently working on a change to how this is done but for now I would recommend using the begin session success block to set up gcm.

[2015-01-13 16:19] DaleCantwell commented on #25
To allow us to handle large messages and draw components like imageviews without needing a webview we have split up all the paragraphs, images buttons into separate rows. This is why between paragraphs you can't select the two text views. I will add a feature request for an option to select an entire bubble in one go.

[2015-01-15 20:23] brianmuse commented on #33
I think only the base lib is needed for push notifications:
`compile 'com.google.android.gms:play-services-base:6.5.87'`

[2015-01-22 17:20] brianmuse opened #35 "RuntimeException when initializing library from background thread"
If I initialize Intercom from any thread outside the main thread I get the below trace. If this is a limitation of the library, it should probably be noted in the readme somewhere.

[code]

Otherwise, you could ensure something is run on the main thread with:

[code]

[2015-01-22 18:03] DaleCantwell commented on #35
Hi Brian,
You are right in that we should document this. We need to run on the main thread as we need to draw UI. Is there a particular use case that would make you prefer to run Intercom on a background thread? We run all of our networking on a background thread anyway so we wouldn't block the main thread.
Thanks for logging this issue
Dale

[2015-01-25 16:17] sirvon opened #36 "Automatic filling of user model...."
is any data automatically added to the user model ?
or
Does ALL data have to be supplied?

For instance all the data thats easily obtained from the android device
such as advertisingId, os version, country, stuff like that most libraries add that stuff.

Intercom's model is intensive, I just want to make sure I dont go ham and supply all
that data when/if the system is already supplying some from

[2015-01-25 22:19] brianmuse commented on #35
Hey Dale, I guess the strange thing is that it needs to be initialized on the main thread. Not sure why it would need UI for that. In general I would think that you'd _only_ want to do UI stuff on the main thread, otherwise intercom functionality may become blocking for the app.

The reason I ran into this because we're wrapping the Intercom client in our own class that can be instantiated and inj

[2015-01-25 22:22] brianmuse opened #37 "IllegalStateException when starting ChatHeadService (causes crash)"
I don't have much extra info here, but ran into this crash today:

[code]

[2015-01-31 17:52] sirvon opened #38 "duplicate entry error?"
Error:Execution failed for task ':app:packageAllDEMODebugClassesForMultiDex'.

[2015-02-03 17:48] brianmuse opened #39 "Very long, UI-blocking requests happening"
I noticed this while debugging an apparent freeze in my app. This was a 1st gen Moto X running 4.4.

[code]

So two things here:

- What is causing a request to take 35 seconds? Is this API slowness issue with `https://mobileapi-v2.intercom.io`?
- Why are API requests (or some other work) being done on the main thread? The UI was blocked completely by whatever this was.

[2015-02-15 13:11] microgomi opened #40 "Dear intercom-android team."
Dear intercom-android team.
I'm using an previous android system(eclipse IDE) so I need jar files to import this project to mine.
you only provide an aar file, so i've added classes.jar and AndroidBlocks.jar files as libs to my project.
It seems working well  but I'm not sure. (if you ok, could you send me a jar file?)

And I'm trying to import mixpanel data to intercom.
I can see the iOS data in

[2015-02-16 07:38] adamkmccarthy commented on #40
Hi @microgomi. Thanks for reaching out to us. The Android SDK is currently in a closed beta, which is why you don't have Android keys available in your account in Intercom. We'll be expanding this beta soon, we'll let you know when it becomes available again.

[2015-02-16 07:38] #40 closed

[2015-02-16 07:43] adamkmccarthy commented on #31
We're tracking this on the product roadmap internally at #23723

[2015-02-16 07:43] #31 closed

[2015-02-16 07:44] adamkmccarthy commented on #34
We're tracking this on the product roadmap internally at #23723

[2015-02-16 07:44] #34 closed

[2015-02-16 10:58] DaleCantwell commented on #39
Hi Brian,
It is very unusual for the API to take anything even close to that amount of time. It could have been that we were experiencing some down time on the API.
None of our API work is done on the UI thread. Have you been able to reproduce this or see it on any other device?
I have tried to reproduce it here but have been unsuccessful. We are moving away from volley as our networking layer but

[2015-02-16 11:07] DaleCantwell commented on #36
We add the following automatically
Build.CPU_ABI
Build.MODEL
Locale.getDefault().getDisplayLanguage()

We also send up the version and name of the host application and the version of the Intercom Android SDK.

[2015-02-16 11:08] #26 closed

[2015-02-16 11:08] #25 closed

[2015-02-16 11:08] #23 closed

[2015-02-16 11:12] DaleCantwell commented on #24
Hi @emakovsky, thank you for letting us know about this issue. It has been fixed for the new version of our SDK beta.

[2015-02-16 11:12] #24 closed

[2015-02-16 14:52] microgomi commented on #40
Thank you very much.

2015-02-16 16:38 GMT+09:00 Adam McCarthy <notifications@github.com>:

[2015-02-16 15:40] DaleCantwell commented on #33
Thank you for the feedback. We have made the change to use play-services-base in our new version which we will be shipping ASAP. This will also decrease our impact on the dex limit.

[2015-02-16 15:40] #33 closed

[2015-02-16 15:42] DaleCantwell commented on #37
@brianmuse thank you for reporting the issue and getting us the crash log. We have totally revamped the classes responsible for that crash with a big push on improving stability. I will let you know as soon as we are releasing the update.

[2015-02-16 15:42] #37 closed

[2015-02-16 15:42] #36 closed

[2015-02-16 15:46] DaleCantwell commented on #30
@emakovsky thanks for reporting this issue. It was caused by an issue with the order of the configuration call. This has been fixed and we will be available in the beta update which we will release ASAP.

[2015-02-16 15:46] #30 closed

[2015-02-16 15:49] DaleCantwell commented on #29
@emakovsky this is typically experienced if the API is experiencing some slow down. We have since changed our behavior so we now display a progress wheel while this is loading.

[2015-02-16 15:49] #29 closed

[2015-02-16 15:51] DaleCantwell commented on #32
@emakovsky this looks like a problem with us maintaining state between a conversation and the inbox. We will look into this issue and prepare a fix for the next update.

[2015-02-16 15:56] DaleCantwell commented on #38
Hi @sirvon
This error is typically seen because we both have the same dependency in our library and your app.

As of version 0.8.5 we have the following dependencies

    compile 'com.android.support:support-v4:21.0.2'
    compile 'com.google.code.gson:gson:2.3'
    compile 'com.google.android.gms:play-services:6.5.87'

[2015-02-17 06:45] microgomi commented on #40
Dear McCarthy,

I just want to import the mixpanel data.
Current version dons't support that function in android ?

My App Id : jytc2mrq
API Key: 5d722f6bfc49547fc7730ff11880c9816faaecab

I have 1 user "Jin, Deoc".

Can you check it please?

2015-02-16 23:52 GMT+09:00 deoc jin <microgomi@gmail.com>:

[2015-02-17 10:25] adamkmccarthy commented on #40
Hi there, please don't post your API key publicly here (i've deleted your previous message). Can you contact us through Intercom when you log in? Thanks!

[2015-02-19 09:44] PaNaVTEC opened #41 "NullPointerException"
It's a crash from crashlytics I don't have any more details.

[code]

[2015-02-19 09:46] PaNaVTEC opened #42 "Update the readme.md for proguard rules"
actually i'm using this 2:

[code]

I think I don't need more.

[2015-02-24 05:09] microgomi commented on #40
thank you :-) I will ask through Intercom.

[2015-02-25 09:21] PaNaVTEC opened #43 "Crash for vibrate permission."
I'm having this crash:

[code]

[2015-02-25 12:05] PaNaVTEC opened #44 "ChatHeaderService crash"
[code]

[2015-02-25 12:07] PaNaVTEC opened #45 "CredentialStore NPE"
[code]

[2015-02-25 13:00] DaleCantwell commented on #43
HI,
Thanks for reporting this issue to us. While we don't explicitly try to vibrate the device I believe this is caused by the creation of our gcm notifications. We will request the Vibrate permission in our next major release to prevent this crash. To fix the crash in the short term you can add the following permission to your own manifest file
    <uses-permission android:name="android.permissio

[2015-02-25 13:00] #43 closed

[2015-02-25 15:07] PaNaVTEC commented on #43
Hi @DaleCantwell you explicitly try to vibrate the device when you do:

[code]

[2015-02-25 16:28] Harkin commented on #45
Hey thanks for logging this with us. I've moved it to our internal tracker. We're working on a new release for the private beta and I'm confidant that we've addressed this one :)

[2015-02-25 16:28] #45 closed

[2015-02-25 16:34] Harkin commented on #41
Thanks for logging this one too :+1: I've moved this one to our internal tracker and it will be fixed in our next release

[2015-02-25 16:34] #41 closed

[2015-02-25 16:41] Harkin commented on #44
Thanks for logging this one with us. This was caused by a sneaky race condition. I'm confidant that we've already addressed the issue but I'll be sure to double check it now.

[2015-02-25 16:41] #44 closed

[2015-02-25 16:45] #21 closed

[2015-03-02 10:36] PaNaVTEC opened #46 "GET_ACCOUNTS permission is unnecessary for api level >= 14"
Hi guys, it's me again! :stuck_out_tongue_winking_eye:

In your AndroidManifest you are getting a permission called "GET_ACCOUNTS" this is mandatory if your minSdk is prior to 3.0 but we are using minSdk 15 so we are embedding a permission that is not needed

More info:
http://stackoverflow.com/questions/18444227/get-accounts-permission-while-using-gcm-why-is-this-needed

So it's better that the f

[2015-03-03 10:18] Harkin commented on #46
Feedback is always welcome! :)

That's interesting, thanks for letting us know. We're keen to keep permissions to a minimum so that's a good suggestion. I've moved this to our internal issues but this change probably won't make it into the next release

[2015-03-05 08:05] PaNaVTEC opened #47 "ConversationsActivity IllegalStateException"
This is another crash from Fabric, is quite similar to one that I already reported but is not the same:
[code]

[2015-03-05 15:17] danikula commented on #47
Same problem. I use 0.8.5 version. Waiting for fix...

[2015-03-05 15:19] danikula commented on #41
Same problem in 0.8.5. Any news about fix ?

[2015-03-05 15:21] danikula commented on #44
Same problem in 0.8.5. Any news about fix ?

[2015-03-05 15:24] danikula commented on #44
Also have similar crash into ChatHeadService:
[code]

Waiting for fix...

[2015-03-06 14:30] danikula opened #48 "Crash in ConversationsActivity"
version 0.8.5

[code]

[2015-03-09 05:08] joshln87 commented on #45
Still facing this crash with 0.8.5.. Any fix in the next release?

[2015-03-09 13:58] Harkin commented on #41
@danikula yeah this will be fixed in the next release of the SDK

[2015-03-09 13:59] Harkin commented on #45
@joshln87 yeah we've addressed this one, the next release will have a fix

[2015-03-09 14:10] DaleCantwell commented on #48
Hi @danikula
Thank you for reporting the issue. It was a problem, with one of our animations. It has been fixed and will be included in our next update.

[2015-03-09 14:10] #48 closed

[2015-03-09 14:11] Harkin commented on #47
I've been looking into this one and the most straightforward reason why this might happen is if you're calling something from the `Intercom` class before you've called `Intercom.initialize(ctx)`. Maybe from a flow related to a push notification coming in?

Regardless of that, we've finished a hefty re-architecture of the SDK and will be recommending that you initialize Intercom from the `Applicati

[2015-03-09 14:16] PaNaVTEC commented on #47
Hi Harkin,

I think thats impossible. In my code I do not touch directly "Intercom" class, instead of this I am using a "IntercomWrapper", is initialized via DI with Dagger and is a Singleton object in the application Module

[code]
InteractorWrapperImp has this constructor:

[code]

All my code just uses "IntercomWrapper" Interface and never "Intercom" class directly, so I think is impossible to

[2015-03-10 09:41] Harkin commented on #47
That's a pretty neat integration!

Yeah the bug is definitely on our side in that case. I suspect it happened when the app came from the background. This isn't going to be an issue in the next version

[2015-03-10 09:41] #47 closed

[2015-03-20 07:04] shailendraborse opened #49 "Error:Failed to resolve: :intercomsdk-0.8.5:"
I am getting always this error while syncing the gradle
Error:Failed to resolve: :intercomsdk-0.8.5:

[2015-03-20 07:51] danikula commented on #49
[code]

Works well for me.

[2015-03-24 13:39] DaleCantwell commented on #42
For version 0.9.0 we use `consumerProguardFiles` so you shouldn't need to add the yourself anymore.

[2015-03-24 13:44] DaleCantwell commented on #32
@emakovsky this issue has been fixed in version 0.9.0. I would recommend updating as soon as possible. Thanks again for reporting it.

[2015-03-24 13:44] #32 closed

[2015-03-24 13:56] DaleCantwell commented on #38
Here are our current dependencies:
[code]
Let me know if you update to version 0.9.0 and use the dependencies above and are still seeing this issue.

[2015-03-24 13:56] #38 closed

[2015-03-24 14:24] DaleCantwell commented on #39
@brianmuse We have just updated the SDK to version 0.9.0. We no longer hit that endpoint and that area of the SDK has been completely reworked. We have tested our new endpoints and could not reproduce this issue. Let us know if you encounter this issue again and we will investigate it further.

[2015-03-24 14:24] #39 closed

[2015-03-24 14:35] brianmuse commented on #39
We're able to plug the SDK back into the app. I'll let you know how it goes. Thanks so much for your attention on this!

[2015-03-26 18:59] hvisser opened #50 "3rd party dependencies"
The SDK requires a bunch of external libraries, which is problematic for me as a developer to integrate:
* Some libraries may conflict with libraries that I am using in my app
* I do not want to be dependent on the versions required by the SDK. For example: if my app also uses Gson, I'm now basically stuck on the version that the SDK is using.

Other than the android-support dependency and the Goo

[2015-03-26 19:32] mderazon commented on #50
Agree, I'm really excited about intercom SDK but our app depends on nearly all of these dependencies already and we can't afford any conflicts.
Therefor integrating this is not possible for us.

[2015-03-27 05:16] creativepsyco opened #51 "Company Update example on docs site is wrong"
Hi,

The company update example for a user model given in the [docs](http://docs.intercom.io/install-on-your-mobile-product/using-the-android-sdk) is using an `Object` instead of an `ArrayList`. However the `companies` field in a `User` model is an Array and not an object[[1]](https://doc.intercom.io/api/#companies-and--users). This might lead to some confusion. It will cause error with a 500 HTTP

[2015-03-27 10:39] DaleCantwell commented on #50
Thank you for the feedback. We understand that our dependancy requirements can cause integration difficulties. There are some side effects to us repackaging our dependencies.
For example if we package gson as intercom-gson in the sdk and the host application is using gson there will be a lot of duplicate methods which is bad for our impact on 65k method limit (https://developer.android.com/tools/b

[2015-03-27 10:55] DaleCantwell commented on #49
I would happy to work with you on the integration in gradle. We also have version 0.9.1 out which I would recommend updating to.

[2015-03-27 11:16] DaleCantwell commented on #35
Hi @brianmuse ,
Thanks for the feedback. That is a fair use case, we were focusing our efforts on getting our current version 0.9.1 out. With that done I will add this issue to our internal issue tracker for version 1.0.0
Thanks again for the detail provided in the issue, I will let you know when have this resolved.

[2015-03-27 11:18] #49 closed

[2015-03-27 16:08] DaleCantwell commented on #51
Thank you for reporting that issue. I have updated the docs now, we will also add some client side code to validate the data provided to us contains the desired object types.

[2015-03-27 16:08] #51 closed

[2015-03-31 12:39] yonatancups opened #52 "Problem with multiple users of the application on the same device"
Using the beta the user currently using my application is sent with:

    Intercom.client().registerIdentifiedUser..

which should then either update or create the user in the dashboard. However, I ran into problems sending in-app messages through the dashboard to the users who have been created in this way. Specifically, if I send an in-app message to the first user created then it will pop up in

[2015-03-31 13:10] Harkin commented on #52
Hi @yonatancups

This seems odd, are you calling `Intercom.client().reset()` between registering users?

[2015-03-31 13:27] yonatancups commented on #52
@Harkin

Yes, you were correct - I needed to call reset between users. I've added it and it sorts out the issue - many thanks

[2015-03-31 13:27] #52 closed

[2015-04-01 01:58] felipebari opened #53 "GET_TASKS permission?"
Users of my app are questioning me why a task list needs access to their running apps. It's a very legitimate question since the permission does sound suspicious to a user.

But the permission is actually being requested by the Intercom SDK (not directly by my app). So, What exactly is it being used for, so I can reassure users?

[2015-04-01 09:06] Harkin commented on #53
Hi @felipebari,

Are you using a 0.8.x version of the SDK? We removed the `GET_TASKS` permission in the 0.9.0 release. I'd recommend updating to [0.9.3](https://github.com/intercom/intercom-android/tree/master)! It's a lot more stable.

What we were using it for in the 0.8.x versions was a fallback in managing the notification preview's visibility. We were able to drop it entirely in 0.9.0

[2015-04-01 09:27] #53 closed

[2015-04-02 12:05] mderazon opened #54 "hamburger button behaviour is confusing"
When inside a conversation, there are two buttons in the actionbar - `X` and hamburger
`X` closes the conversation
Hamburger goes back to the conversation list

This is confusing and non Androidish behaviour.
The hamburger button is actually a back button (it functions the same as the physical back button) and should probably be `<` caret button.

[2015-04-02 12:58] mderazon opened #55 "add support for custom url scheme in in-app messages links"
when trying to use a deeplink (or any custom url scheme i.e. `app://`) the app crashes. I think the crash is coming from your stack ?

The crash comes from OkHttp. I actually see behind the crash error dialog the "Open with" dialog coming from the system

[2015-04-02 13:08] yonatancups commented on #55
stacktrace of a crash:

FATAL EXCEPTION: OkHttp Dispatcher
           Process: [some package], PID: 34567
            java.lang.RuntimeException: Malformed URL: [some complete deeplink]
            at com.squareup.okhttp.Request.url(Request.java:57)
            at com.squareup.okhttp.internal.http.HttpEngine.networkRequest(HttpEngine.java:623)
            at com.squareup.okhttp.internal.http.HttpE

[2015-04-03 10:09] shekmantang commented on #54
Hi @mderazon , Shek here from the product team.
Thanks for your suggestion, we're certainly aware of this confusion and are planning to change that in the future releases.

[2015-04-03 10:09] #54 closed

[2015-04-06 12:10] danikula commented on #27
@DaleCantwell bug is still reproduced with message `<>` in 0.9.3

[2015-04-06 12:15] danikula opened #56 "Impossible to revote conversation"
Steps:
1. Open some conversation with a replay of supports
2. Put like or dislike
3. Try to revote
-> The user can't revote in Conversation

`version 0.9.3`

[2015-04-06 12:19] danikula opened #57 "Incorrect status of the first message in conversation to be sent"
Steps
1. Open page of creation new conversation
2. Send some message
-> Status of message is not changed and remains "Sending...". And now user can't send more messages
->> After reopening this conversation status of this message is correct

`version 0.9.3`

[2015-04-06 12:24] danikula opened #58 "Incorrect conversation sorting"
Reproduced time to time. Version 0.9.3.
![incorrect sorting by date](http://content.screencast.com/users/vageqweqweqwe/folders/Snagit/media/6dbc61f4-eb8f-4ea0-8b2a-b750f752f128/04.07.2015-01.15.png)

[2015-04-06 12:42] danikula opened #59 "Useless keyboard"
Version 0.9.3.

Steps:
1. Open page of creating new conversation
2. Tap on input field
3. Tap on some text on page

As result useless keyboard is shown. Any tap on it does nothing.

[2015-04-06 12:55] danikula opened #60 "Offline created post duplicates"
Steps:
1. Open page of creation conversation
2. Disconnect the Internet connection.
3. Send any message.
4. Connect the Internet connection.
5. Type few times on screen of created conversation while a connection in the connection process

After reconnecting message dispatched multiple times depending on how many times a user taped on screen
`version 0.9.3`

[2015-04-07 10:35] DaleCantwell commented on #56
Hi @danikula
Thanks for your feedback. Not being able to revote is intentional. We will add it for consideration, but for now you can't change your response to a LWR across web, ios or android.
Thanks,
Dale

[2015-04-07 10:35] #56 closed

[2015-04-07 10:38] DaleCantwell commented on #27
@danikula well spotted, I have opened an internal issue about this.

[2015-04-07 11:05] DaleCantwell commented on #57
Hi @danikula
We can't reproduce this one. Is there any other step to get into the always Sending state?
Thanks,
Dale

[2015-04-07 11:22] DaleCantwell commented on #60
@danikula thanks for reporting this issue. The fix for this issue will be included in v0.9.4

[2015-04-07 11:22] #60 closed

[2015-04-07 13:19] DaleCantwell commented on #59
Thanks for reporting this issue @danikula, we have logged it internally and we will let you know when we have a solution.

[2015-04-07 18:47] danikula commented on #57
@DaleCantwell I haven't problem with reproducing. Every time I start a new conversation a first post has infinite status `Sending...`
![screenshot](https://dl.dropboxusercontent.com/u/15506779/persistent/screenshots/intercom-issue-57.png)

[2015-04-08 02:57] aku-sama opened #61 "java.lang.NoClassDefFoundError: io.intercom.android.sdk.R$color‏ Error"
Hello, i try to use Intercom Android SDK in our project (intellij idea 14.0.2, API 21)

To connect use instruction for Eclipse from this link http://docs.intercom.io/Install-on-your-mobile-product/install-the-intercom-android-sdk

When i'm adding intercom-sdk like library project and adding all dependency for it, project build operation fail with error

Error:Android Dex: [intercom-sdk-0.9.3] Unab

[2015-04-08 13:45] #57 closed

[2015-04-08 13:47] DaleCantwell commented on #57
@danikula thank you for the details, we have located the cause of the problem and will let you know as soon as the updated version is available.

[2015-04-09 07:46] juancarlo1220 commented on #61
I have a crash in a production build:
I have used 0.9.3 version.
![error](https://cloud.githubusercontent.com/assets/10573973/7062385/022cb384-de9d-11e4-9d43-4171bd7cd886.png)

[2015-04-13 07:48] felipebari commented on #53
Thank you @Harkin, I upgraded to 0.9.4 today. So far so good!

[2015-04-15 10:50] mderazon commented on #55
any update regarding this ?

I wouldn't mind trying to fix it myself but I don't see the source code anywhere

this is really hindering our ability to send unified in app promotions across IOS and Android, we have to use Mixpanel to send to Android and Intercom to send to IOS.

(We always include a deep link inside our promotions)

[2015-04-15 12:18] DaleCantwell commented on #55
Hi @mderazon
Thanks for reporting this issue. We fixed this issue in version 0.9.4 which is out now. Custom url schemes should no longer cause any crashes. Check out our change log to see any other differences in the new version.
https://github.com/intercom/intercom-android/blob/master/CHANGELOG.md
Let us know if you see any other issues with deep linking.

[2015-04-15 12:18] #55 closed

[2015-04-16 09:12] Harkin commented on #46
We removed this permission entirely in 0.9.4, turns out it's not necessary for any sdk version

[2015-04-16 09:12] #46 closed

[2015-04-16 09:13] PaNaVTEC commented on #46
Good news, thanks :+1:

[2015-04-16 09:23] Harkin commented on #58
Hi,

Dale followed up on this though Intercom, I believe the issue was unreproducible. If you can reliably reproduce this please let me know

[2015-04-16 09:23] #58 closed

[2015-04-16 09:50] DaleCantwell commented on #61
Hi @aku-sama @juancarlo1220
We can only support Android Studio and Eclipse developers at the moment. Intellij developers using the gradle build system should be able to use the Android Studio integration guide.
We will continue to help with the integration through our conversation in Intercom.

[2015-04-16 09:50] #61 closed

[2015-04-17 07:14] ericfong opened #62 "Do we have checkForUnreadMessages API"
Hi

Do we have a method to check the number of unread message in the API ?

[2015-04-17 07:20] adamkmccarthy commented on #62
Hi @ericfong. Apologies, this isn't something we expose through the SDK at this time. The SDK has it's own polling control built in that fetches new messages on a regular basis if you aren't on a plan with realtime. If you are on a plan with realtime, then the realtime connection takes over instead.

[2015-04-17 07:20] #62 closed

[2015-04-18 13:43] manishkungwani opened #63 "Application crashes on initialize method. java.lang.NoClassDefFoundError: io.intercom.android.sdk.api.MainThreadBus"
Hi,
I'm getting an exception on v0.9.3 and v0.9.5 when Intercom is being initialized (on simulator and a device as well):

04-18 09:40:43.170    1061-1061/com.iam.nearer.app E/AndroidRuntime﹕ FATAL EXCEPTION: main
    java.lang.NoClassDefFoundError: io.intercom.android.sdk.api.MainThreadBus
            at io.intercom.android.sdk.Bridge.<init>(Bridge.java:35)
            at io.intercom.android.sdk.

[2015-04-18 19:17] Harkin commented on #63
@manishkungwani That's really weird.

Could I get some details from you on if you're using eclipse or android studio and how you're including the SDK?

Could you open the jar/aar and see if you can find the MainThreadBus.class in there? If you're using an aar you can use something like Unarchiver (mac) or 7zip (windows) to open it, there will be a classes.jar in there that you'll need to open too,

[2015-04-19 03:17] manishkungwani commented on #63
Really weird.
I'm using AS + Gradle.
I'm using the aar as a module.

![image](https://cloud.githubusercontent.com/assets/673367/7218001/3df36734-e670-11e4-8fac-73d021ca6c21.png)

I saw it is there in the aar file.
When I started the integration, I was on support v4 21.0.0 and then moved to support v4 22.0.0 since it was a dependency.

For your reference, here is the build.gradle:

	apply plugin: '

[2015-04-19 17:34] manishkungwani commented on #63
I hadn't included all the dependencies mentioned in the documentation.
The steps on the intercom website didn't mention them.
I would request you guys to make it a bit more descriptive. On the site, its written that you need to add the aar as a module and add the dependencies in gradle as well.
Thanks
Sorry for the trouble.

[2015-04-19 17:34] #63 closed

[2015-04-20 09:26] Harkin commented on #63
Glad you got it sorted, and thanks for pointing that out with the docs. We'll be iterating on them as we get feedback to make them awesome :)

[2015-04-21 15:48] elliotstokes opened #64 "support for android"
I'm quite happy to do this (or look at doing this). Would you accept pull requests?

[2015-04-21 15:51] adamkmccarthy commented on #64
Thanks @elliotstokes, what kind of Android support are you looking for here that isn't in the SDK?

[2015-04-21 15:51] elliotstokes commented on #64
Ah srry. Ignore this. I posted this in the wrong repo. Doh!

[2015-04-21 15:51] #64 closed

[2015-04-23 10:36] danikula opened #65 "NPE in DeviceUtils"
Version 0.9.5. Stacktrace:
[code]

[2015-04-23 10:52] Harkin commented on #65
We're looking into this one at the moment, did the crash happen on a simulator/emulator or an actual device?

[2015-04-23 10:56] danikula commented on #65
Real devices:
GI-I9500_TMMARS , Android 4.1.1
XT1080, Android 4.4.4

[2015-04-23 11:16] Harkin commented on #65
:+1: thanks for the info

[2015-04-23 13:19] danikula commented on #57
@DaleCantwell Is it issue fixed in 0.9.5?

[2015-04-23 16:06] danikula commented on #65
Crash is reproduced on emulators too.

[2015-04-24 06:45] DaleCantwell commented on #57
@danikula the issue is resolved in 0.9.5 let us know if your still seeing it in the new version

[2015-04-28 18:57] manishkungwani opened #66 "Intercom dependencies cause other libraries to malfunction or crash on devices below Android v5.0,"
Hi,
I'm using a Intercom v0.9.5 and also other libraries like SweetAlert and RippleView.

When I generate the apk and deploy it on devices, this is the behavior I see:
1. Runs perfectly fine on devices having Android above v5
2. Crashes as soon as the sweetalert library or RippleView library classes are used in the app.
Here is the stack trace:

	java.lang.RuntimeException: Unknown animation name:

[2015-04-28 19:16] Harkin commented on #66
Obvious question but does everything work correctly when you aren't including the Intercom SDK?

[2015-04-28 19:19] manishkungwani commented on #66
Yep, perfectly. 

Sent from Yahoo Mail on Android

From:"Henry" <notifications@github.com>
Date:Wed, 29 Apr, 2015 at 12:47 am
Subject:Re: [intercom-android] Intercom dependencies cause other libraries to malfunction or crash on devices below Android v5.0, (#66)

Obvious question but does everything work correctly when you aren't including the Intercom SDK?

—
Reply to this email directly or view i

[2015-04-28 19:30] Harkin commented on #66
Is it just the RippleView and SweetAlert libraries that cause issues when you do include Intercom?

This is definitely unusual, I'm going to look into it and I'll let you know what I find

[2015-04-28 19:32] manishkungwani commented on #66
These were the ones, which crashed upon starting, couldn't check every library..  I can try tomorrow.. IST

Sent from Yahoo Mail on Android

From:"Henry" <notifications@github.com>
Date:Wed, 29 Apr, 2015 at 1:00 am
Subject:Re: [intercom-android] Intercom dependencies cause other libraries to malfunction or crash on devices below Android v5.0, (#66)

Is it just the RippleView and SweetAlert librari

[2015-04-28 19:35] Harkin commented on #66
Gotcha, any extra information you can provide will help me track this down faster but that's a good starting point

[2015-04-29 03:17] manishkungwani commented on #66
One thing I didn't try is comment only Intercom and check your dependencies.. Will try that as well today and get back to you. Cheers 

Sent from Yahoo Mail on Android

From:"Henry" <notifications@github.com>
Date:Wed, 29 Apr, 2015 at 1:05 am
Subject:Re: [intercom-android] Intercom dependencies cause other libraries to malfunction or crash on devices below Android v5.0, (#66)

Gotcha, any extra in

[2015-04-29 09:53] Harkin commented on #66
@manishkungwani I've found your issue

When I compile a sample project with all the dependencies you have I'm hitting around 60k methods before including the Intercom SDK. When you include our SDK you're going over the 65k method limit. It's worth saying that any library of over 5k methods would cause this issue here, it's not directly caused by the Intercom SDK. Normally you'd get a build error b

[2015-04-29 09:53] #66 closed

[2015-04-29 10:04] danikula commented on #66
@manishkungwani Also you can [reduce size of Google Play services](http://developer.android.com/google/play-services/setup.html) by including only required components instead of whole library which has a lot of methods (> 20K).
For example use
[code]
instead of
[code]

[2015-04-29 14:18] danikula opened #67 "libpng warning: iCCP: Not recognizing known sRGB profile that has been edited"
Gradle complains during assembling build:

[code]

Can you remove metadata from png resources as [Jake Wharton suggests](https://groups.google.com/d/msg/adt-dev/rjTQ_STR3OE/-UcNQRISTKsJ)?

[2015-04-29 14:42] Harkin commented on #67
yes, we certainly can :+1:

[2015-04-29 18:21] DaleCantwell commented on #59
Fixed in version 0.9.6

[2015-04-29 18:21] #59 closed

[2015-04-29 18:22] DaleCantwell commented on #65
Fixed in 0.9.6

[2015-04-29 18:22] #65 closed

[2015-04-29 18:22] DaleCantwell commented on #67
Fixed in v0.9.6

[2015-04-29 18:22] #67 closed

[2015-04-29 18:23] danikula commented on #67
:+1:

[2015-04-29 23:09] brianmuse commented on #39
Just to follow up, things seem very snappy on the latest!

[2015-04-30 08:36] danikula opened #68 "0.9.6 dependency"
I have problem with using 0.9.6 by gradle dependency. It complains:
[code]
My `build.gradle`:
[code]
Bintray [doesn't contain binaries](http://dl.bintray.com/intercom/intercom-maven/io/intercom/android/intercom-sdk/0.9.6/).

[2015-04-30 08:41] Harkin commented on #68
Looking into this now

[2015-04-30 09:17] Harkin commented on #68
Sorry about this, I uploaded it again and tested the download, it's working now. The file path must not have been correct the first time.

[2015-04-30 09:17] #68 closed

[2015-04-30 09:22] danikula commented on #68
@Harkin :+1: Thanks

[2015-04-30 16:45] keiththompson opened #69 "SDK does not support API levels < 12"
I'm getting this crash upon initialisation. I suspect it's because the SDK is using <a href="http://developer.android.com/reference/android/util/LruCache.html">`android.util.LruCache`</a> rather than <a href="http://developer.android.com/reference/android/support/v4/util/LruCache.html">`android.support.v4.util.LruCache`</a>

This occurs on `0.9.5` & `0.9.6`

[code]

[2015-04-30 18:16] Harkin commented on #69
That would cause a crash. I can't reproduce this on a gingerbread device so something a little odd is happening and it might not be a trivial fix. I'm going to dig into it.

[2015-05-01 09:00] keiththompson commented on #69
On closer inspection it's actually initialising fine, it's `Intercom.client().registerUnidentifiedUser();` that's causing the crash.

[2015-05-01 10:33] Harkin commented on #69
:+1: I've found the issue, we'll have a fix out today

[2015-05-01 10:40] keiththompson commented on #69
Awesome.
Thanks @Harkin :+1:

[2015-05-01 14:09] DaleCantwell commented on #69
@keiththompson the issue was part of our real time integration not supporting v4 LruCache as you suspected. We have actually decided to stop supporting anything below API level 14. We are going to keep the ability to target API 9 and up but there will be no Intercom functionality.
We have been considering this for some time: our reasoning being we wanted to provide the full functionality to all re

[2015-05-04 16:17] danikula opened #70 "java.lang.NoClassDefFoundError: io.intercom.android.nexus.NexusSocket"
SDK version 0.9.7, Android 5.1, Nexus 5.

After updating to 0.9.7 my app crashes every time I start new activity with stacktrace
[code]

SDK 0.9.6 doesn't have this problem.

My `build.gradle`:
[code]

I use proguard for shrinking build, but my proguard config doesn't contain any intercom-specific rules.

[2015-05-04 17:46] bergjs opened #71 "Client Reset doesn't seem to work"
Trying to register right after resetting gives me an error ...

[code]

Am I doing something wrong?

[2015-05-05 09:19] #69 closed

[2015-05-05 09:46] Harkin commented on #70
You don't need any Intercom specific rules in your file, we specify proguard rules for ourselves with a `consumerProguardFiles` line in our build.gradle. That's the theory at least, I'm looking into why it isn't working now. I've confirmed that the .class files actually are in the .aar that's hosted on bintray.

The .pom file for 0.9.7 seems to have gotten corrupted/lost since we uploaded it to bi

[2015-05-05 10:51] Harkin commented on #70
I've reuploaded the .pom file and confirmed in a sample app that I can currently build it with the Intercom SDK included.

@danikula You'll need to clear your local maven cached copy to get that. The quick and easy way is to change your build.gradle dependency to compile `io.intercom.android:intercom-sdk:0.9.+@aar`, do a clean build, and than switch back to  compiling `io.intercom.android:intercom

[2015-05-05 11:40] Harkin commented on #71
@bergjs you're not doing anything wrong, that was a bug in an older version of the SDK and was fixed in 0.9.6. I'd suggest updating to the latest version, 0.9.7

[2015-05-05 11:40] #71 closed

[2015-05-06 06:59] danikula commented on #70
@Harkin :+1: It helps! Thanks.

[2015-05-06 06:59] #70 closed

[2015-05-07 14:03] appmagnetics opened #72 "intercom.intercomsdk.models.App.setPlan crash"
Hi,

starting from today we experience heavy crash in our app, coming from Intercom SDK. Already 1500 crashes.  We use intercomsdk-0.8.3, integrated directly as .aar file

java.lang.NullPointerException
       at intercom.intercomsdk.models.App.setPlan(App.java:122)
       at intercom.intercomsdk.models.App.store(App.java:161)
       at intercom.intercomsdk.models.Config.store(Config.java:41)

[2015-05-07 14:21] Harkin commented on #72
Hi, I'm looking into what might be causing that now.

0.8.3 is a very old version and we'd recommend updating to the latest version ASAP. There have been substantial changes and improvements to stability

[2015-05-07 14:22] appmagnetics commented on #72
Thanks for a very fast reply. Is 0.9.7 Beta good to go?

[2015-05-07 14:23] danikula commented on #72
I've updated to 0.9.7. But 40% of my users are still use old version with intercom 0.8.3. Please, fix it ASAP.

[2015-05-07 14:27] danikula commented on #72
I suppose your API returns unexpected result and sdk crashes. This issue happen only today. More than 200 chashes from my users!

[2015-05-07 14:27] Harkin commented on #72
Yeah this is an issue with something in our API, we've tracked down where it is now and we're working on a fix

[2015-05-07 14:28] Harkin commented on #72
The fix will be live in the next ~10 minutes

[2015-05-07 15:06] appmagnetics commented on #72
I assume some troubles by deployment on your side ;)   we still getting crashes coming over Crashlytics - 1846 now

[2015-05-07 15:18] Harkin commented on #72
A few issues, yeah :( The fix has been live with a few minutes now, could you @appmagnetics confirm that you've stopped seeing new crashes?

[2015-05-07 15:24] appmagnetics commented on #72
I confirm - last 5 minutes not increase in crash counter. Fantastic problem solving! You guys rock!

[2015-05-07 15:33] Harkin commented on #72
:+1:

[2015-05-07 19:01] appmagnetics commented on #72
I have noticed increase of about 100 new crashes since my report, unfortunately ;(
Will continue to observe now...

[2015-05-07 19:11] appmagnetics commented on #72
Unfortunately crashes are still coming ... May be not at that rate as previously, but they still do ...

[2015-05-07 19:33] Harkin commented on #72
Okay looking into this again now. Is it the same crash, same stack trace as above?

[2015-05-07 19:35] appmagnetics commented on #72
Yes, same one

[2015-05-08 08:08] appmagnetics commented on #72
Any news on this one? We continue to receive crashes. The issue is that we tried to do a hotfix by integrating your latest library but that has made the app go over Dex limit and there is no quick way to make the app multidex. So we have no ready hot-fix version now.

[2015-05-08 08:33] Harkin commented on #72
We're investigating from our side but we essentially reverted the change that caused this so there isn't any obvious reason why you'd still be receiving crash reports.

Is the volume slowing or continuing at a steady rate? We're thinking it might be that these crashes aren't new. Most crash tracking libraries report a crash the _next_ time someone opens an app, eg it crashes at 5pm but user X does

[2015-05-08 11:03] appmagnetics commented on #72
That may be true - we have customers scattered around the world, so they might be waking up one after another and switching on their phones. ;)  I will continue to observe it today.

[2015-05-08 11:04] Harkin commented on #72
:+1: I'll leave this open until we're happy that it isn't still happening

[2015-05-08 15:33] Harkin commented on #72
@appmagnetics just following up on this, have you been getting any more crash reports?

[2015-05-08 15:45] appmagnetics commented on #72
We have received a couple more but the floold has been definitely stopped. Let's consider the issue again. We have finally prepared new version with your latest lib and will release it now.

[2015-05-08 16:12] Harkin commented on #72
Good to hear, I'm happy to call this closed with the expectation that you'll receive the odd crash report for this over the next few days as people open the app again

[2015-05-08 16:12] #72 closed

[2015-05-12 11:13] madhurtewani-wow opened #73 "App crash after updating SDK"
After updating intercom SDK for android app from v0.9.1 to v0.9.8 (tried even with v0.9.4 & v0.9.7), app was crashing with the following error:

[code]

On un-install android app (with intercom SDK v0.9.1) & re-install android app (with intercom v0.9.8), android app worked without crashing.

[2015-05-12 11:29] danikula commented on #73
[Similar issue](https://github.com/intercom/intercom-android/issues/70)

[2015-05-12 11:38] madhurtewani-wow commented on #73
@danikula, the solution is for gradle and I use eclipse. Can you please provide solution for eclipse?

[2015-05-12 12:17] Harkin commented on #73
Same symptom but different issue I suspect.

Can you reproduce this @madhurtewani-wow or is it completely resolved after you uninstalled and reinstalled the app?

[2015-05-12 12:44] madhurtewani-wow commented on #73
@Harkin resolved after un-install & re-install. But reproducible if trying again without un-install & re-install.

[2015-05-12 15:30] Harkin commented on #73
Okay I can reproduce this myself. We're going to look into this now and we'll update this issue as soon as we know something about this crash

[2015-05-13 08:36] faizalzakaria opened #74 "Websocket protocol not supported"
I encountered this problem while testing intercom in 1 of our test device.

[code]

[code]

What could it be ?

[2015-05-13 08:50] ankesh12 opened #75 "App Crash: java.lang.NoClassDefFoundError: io.intercom.android.nexus.NexusConfig"
App was running good on Nexus 5. When tested the same on other devices below is the error I am getting:

05-13 16:38:21.287  23797-23797/? E/AndroidRuntime﹕ FATAL EXCEPTION: main
    java.lang.NoClassDefFoundError: io.intercom.android.nexus.NexusConfig
            at io.intercom.android.sdk.identity.AppConfig.<init>(AppConfig.java:46)
            at io.intercom.android.sdk.identity.AppIdentity.<in

[2015-05-13 09:17] Harkin commented on #75
We're investigating this crash at the moment, we'll let you know as soon as we've found something

[2015-05-13 09:21] ankesh12 commented on #75
Thank you for responding. If there are any work around please let me know. I have tried uninstalling the app and also clean project option. Both have had no success.

[2015-05-13 09:23] Harkin commented on #74
What device did this happen on?

[2015-05-13 09:54] Harkin commented on #73
@madhurtewani-wow can you check that you're including all of the necessary dependencies, in particular  `okhttp-ws-2.3.0.jar`?

[2015-05-13 10:03] Harkin commented on #75
I can't reproduce this. It's potentially an upgrade issue but without knowing what version of the integration you went from -> to it's very difficult to track down.

Our timeline for the past two releases is: 0.9.7 12 days ago and 0.9.8 2 days ago. Is it safe to assume that you build your app between 12-10 days ago and were on 0.9.7 initially? Or did you have any successful builds within the past

[2015-05-13 10:17] ankesh12 commented on #75
I have been using 'io.intercom.android:intercom-sdk:0.9.+@aar' as per the suggestion by one of the intercom team guy. And it was working fine till yesterday. So I don't think there should be any problem with the dependency. I am facing the issue starting today morning. Have tried 1.0.0 and it didn't help.

[2015-05-13 10:21] faizalzakaria commented on #74
Hey @Harkin
samsung galaxy grand 2 with android version 4.4.2
Android SDK version 19

[2015-05-13 10:47] Harkin commented on #74
Thanks, we're looking into this on our end now.

Just to be super clear this was a message that got logged and it didn't actually cause a crash or have any adverse effects on your app?

[2015-05-13 10:47] ankesh12 commented on #75
Below is the error I am getting using 1.0.0 version:

java.lang.RuntimeException: Unable to create application com.my.application.MyApp: java.lang.TypeNotPresentException: Type io.intercom.android.blocks.models.Block not present
            at android.app.ActivityThread.handleBindApplication(ActivityThread.java:4569)
            at android.app.ActivityThread.access$1300(ActivityThread.java:150)

[2015-05-13 10:54] Harkin commented on #75
Hm, if we recommended 0.9.+ it was in error, that + just leads to longer build times unreproducible builds when something changes :(

If it was working yesterday then you would have been pulling 0.9.8 and you were still using that version this morning when it stopped working.

Did you make any changes to your project yesterday or today, like updating the version of gradle you use or the gradle wra

[2015-05-13 11:45] faizalzakaria commented on #74
No crashed yes. We intercept the request, and we can see what being called to intercom. And the response is as mentioned in the first post.

Due to this, we are unable to get any messages from intercom.

[2015-05-13 12:24] Harkin commented on #74
We SSL pin requests from the integration to our backend. If you're trying to intercept those requests then nothing will work, pretty sure it's an SSL handshake error that you'll be seeing.

I'd advise not trying to intercept things in the *.intercom.io domain

[2015-05-14 02:39] faizalzakaria commented on #74
We added SSL of course to forward to your server. Obviously not a SSL handshake prob. Https works just fine.

[2015-05-14 08:39] Harkin commented on #74
Sorry I wasn't clear in my last comment.

We use websockets for realtime. That error you saw was with websockets but we don't rely on realtime for the integration to work properly. If something isn't working it's for a different reason than that error. We're looking into why you were getting a 501 from that channel.

What isn't working?

[2015-05-14 10:26] mderazon opened #76 "links not parsed correctly in in-app messages"
# on IOS it's :

![img_0093](https://cloud.githubusercontent.com/assets/717076/7630237/bf3e5bf2-fa3c-11e4-8929-4a44f22ce9d5.PNG)

# On Android links look like this:
![ataaodpmcyzye6m7c1fktp9knipukxrx60g0o3ik7vz0](https://cloud.githubusercontent.com/assets/717076/7630169/508fc844-fa3c-11e4-91db-7cfc3368c976.jpg)

[2015-05-14 10:41] Harkin commented on #76
Wow that looks janky, I'm going to try and reproduce this here

[2015-05-14 10:57] Harkin commented on #76
@mderazon I'm having trouble reproducing this. I'm going to contact you through Intercom

[2015-05-15 03:05] faizalzakaria commented on #74
Hey @Harkin ,

Things that arent working is as such :
- Unable to get message from intercom.io
- Unable to send back (reply to) to intercom.io server.

Obviously from the error, 501, the socket is failed to established, hence the reason why it unable to send/receive to/from the intercom server.

Appreciate your insight on this.

p/s: It works for some device.

Apart from that,
We published the And

[2015-05-15 03:07] faizalzakaria opened #77 "Crash from intercom."
We are facing this crash.

What could it be ?
[code]

It works perfect without intercom, but crash when we add intercom. Not compatible with newrelic library ?

BR.

[2015-05-15 05:41] madhurtewani-wow commented on #73
Thanks @Harkin, that was the problem. ```okhttp-ws-2.3.0.jar``` was by mistake missed to include.

[2015-05-15 05:41] #73 closed

[2015-05-15 07:25] Harkin commented on #77
What's the cause cause of the crash (null pointer exception, illegal argument exception etc.)?

[2015-05-15 08:42] Harkin commented on #76
This is an issue with our backend and we're investigating. We haven't been able to reproduce it internally yet so we believe it isn't widespread

[2015-05-15 11:02] Harkin commented on #74
Neither of those problems are caused by the 501s you're seeing though I suspect the cause is the same. What are you using to intercept the traffic from your app? As well as the 501s you should be seeing other failed requests.

I've been digging around looking at why your API requests are failing and the reason is that you have multiple users with the same email address on your Intercom app. If you

[2015-05-18 08:23] Harkin commented on #75
@ankesh12 any updates here?

[2015-05-18 09:56] Harkin commented on #77
@faizalzakaria any updates here?

[2015-05-19 02:11] faizalzakaria commented on #74
Hey @Harkin ,
We are importing the data from Mixpanel.
I believe it won't be any problem if we are only using mobile to import/setup the data, wondering what `field` should we fix in intercom ?

[2015-05-19 03:03] cyrille-duriana commented on #74
@Harkin I work with @faizalzakaria -- what is weird is that it works with iOS, Android 5.1 and not Android 4.4.2. We tested in the same conditions, with the same users.

For instance, conversion ID 896187322 -- on Android 4.4.2, one couldn't answer && on the dashboard, it was written as "not seen". We opened it then on iOS, and there no problem. You can check the logs for yourself.
![ios](https://

[2015-05-19 07:23] faizalzakaria commented on #77
Hi @Harkin ,

I didn't had a chance to look at this yet. Will get back to you as soon as I've new info.

BR.

[2015-05-19 11:34] Harkin commented on #74
@cyrille-duriana This is weird.

In the logs I can see the successful requests for conversation with id `896184979`. Is `6063892` the correct conversation id for the other conversation with the message that failed to send?

One thing I did notice in the logs is that requests are coming in with a `Content-Type: */*` header which is wrong and should cause failures. I don't think this is something yo

[2015-05-20 10:29] Harkin commented on #74
After some investigating we think the `Content-Type` header might be a red herring

[2015-05-20 13:11] hvisser commented on #50
Just stressing again that the integration of this SDK is pretty intrusive in terms of API level requirements, permissions and dependencies. Any work going on to resolve that?

[2015-05-20 16:55] DaleCantwell commented on #50
@hvisser what API level requirements, permissions and dependencies are you finding intrusive?

[2015-05-20 20:01] hvisser commented on #50
API level 15 can be problematic, for example our app is still on 14. Including gson, okhttp, otto, retrofit and picasso as dependencies is just not right for an SDK and introduces potential conflicts. I think you should both trim these dependencies and repackage what you do need. Even if that means that the dex limit might be reached, now that we have multidex I rather have the option to go for th

[2015-05-21 09:20] fliped opened #78 "Impossible to use Intercom with Google Analytics"

[2015-05-21 09:22] Harkin commented on #78
@fliped could you give some more details please, like what actually happens when you try to use both?

[2015-05-21 09:39] fliped commented on #78
I trying to use new version Google Analytics V4 and i need new version of play services for this (compile 'com.google.android.gms:play-services:7.3.0')
after adding your lib by marven
repositories {
    maven {
        url 'https://dl.bintray.com/intercom/intercom-maven'
    }
}
    compile('io.intercom.android:intercom-sdk:1.0.0@aar'){
        transitive = true
    }
i receive error (Error:(25, 1

[2015-05-21 09:44] DaleCantwell commented on #50
Thanks for your feedback. Previously we used to have two versions of the Android integration: one data only and one UI but maintaining the two versions is very time consuming and adds additional risks. we opted for allowing developers to optionally hide the visuals with the following method Intercom.client().setVisibility(Intercom.GONE).

Regarding supported versions, we compile on API 9 and up, w

[2015-05-21 09:57] hvisser commented on #50
Yeah well, transitive won't work of course if the SDK needs those classes and will probably just crash in that case, thanks anyway.

[2015-05-21 10:07] Harkin commented on #78
Oh woops, our docs aren't correct there :( we actually use `'com.google.android.gms:play-services-gcm:7.3.0'` and we've updated the docs now. The version of the play services library that we use doesn't have Google Analytics in it which is why you can't find it.

I *can't* reproduce that top level dex exception locally in a test app with a dependencies block of
[code]
Google Analytics is present a

[2015-05-21 10:50] fliped commented on #78
Sorry, it was my problem

[2015-05-21 10:50] #78 closed

[2015-05-21 10:57] Harkin commented on #78
:+1:

[2015-05-21 15:18] DaleCantwell commented on #50
If you remove a dependency that we need it will certainly crash but if you are looking to use a different version to solve a conflict it shouldn't be an issue (unless there was large change to said library that would break our integration). If there is a particular library you are having issues using with our integration we would be happy to help, perhaps contacting us in Intercom would be handier

[2015-05-27 20:32] felipebari opened #79 "Crash on Motorola devices"
I'm getting crash reports on my app that are caused by Intercom. They are mostly from Motorola devices (X, G and E) running Android 4.4 and 4.2.

[code]

The app has Intercom 0.9.4. For the next update I'll have 1.0.2, but I'd like to make sure this crash has been fixed, since users are unable to open the app.

Seems like something is wrong in your DeviceUtils.generateMacId() method, causing the c

[2015-05-27 23:48] Harkin commented on #79
Thanks for letting us know about this one. We fixed this issue in v0.9.6

[2015-05-27 23:54] #79 closed

[2015-05-30 13:44] richardlay opened #80 "App crash - NullPointerException"
I'm initializing the sdk in the onCreate() method of the Application class. Here is the stack trace of a crash that has been reported to us.

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.homepass.agent.app/com.homepass.agent.app.activities.SplashActivity}: java.lang.NullPointerException
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2060)

[2015-05-30 14:29] Harkin commented on #80
Hey, thanks for letting us know about this. Are you using v0.9.5 or earlier of the library? We fixed this issue in v0.9.6

[2015-05-30 15:13] richardlay commented on #80
Yes we are using 0.9.5. We will upgrade.

On Sun, May 31, 2015 at 12:29 AM, Henry <notifications@github.com> wrote:

[2015-05-30 15:18] #80 closed

[2015-05-31 17:40] manishkungwani opened #81 "NPE crash in intercom. Class- io.intercom.android.sdk.utilities.LinkUtil"
Hi,
Please have a look at this NPE I got in my app:

java.lang.NullPointerException
       at io.intercom.android.sdk.utilities.LinkUtil.openUrl(LinkUtil.java:16)
       at io.intercom.android.sdk.blocks.Button$1.onClick(Button.java:40)
       at android.view.View.performClick(View.java:4633)
       at android.view.View$PerformClick.run(View.java:19330)
       at android.os.Handler.handleCallback(

[2015-06-01 17:07] brianmuse opened #82 "NPE Crash with DeviceUtils#generateMacId()"
This crash log popped up today for us. LG-D950 on Android 4.4.2. The crash happens instantly when the first activity is launched. User can not even log in.

[code]

`WifiInfo#getMacAddress` may return `null`. possibly related? http://stackoverflow.com/a/6192636/190949

[2015-06-01 17:22] brianmuse commented on #82
Duplicate of https://github.com/intercom/intercom-android/issues/80. Closing...sorry about that!

[2015-06-01 17:22] #82 closed

[2015-06-01 18:07] Mathbl opened #83 "Unable to start receiver io.intercom.android.sdk.gcm.GcmBroadcastReceiver"
Hey there. Happened to me twice today:
[code]
When the user sign in, I do this
[code]

I followed the tutorial from http://docs.intercom.io/Install-on-your-mobile-product/installing-intercom-for-android#how-should-i-use-intercom-in-my-app. I use gradle. Do I need to add any permissions to my manifest?

Any idea? If you need more details just ask and I'll try to help. Thanks!

[2015-06-02 09:35] Harkin commented on #81
Hi @manishkungwani

This crash was fixed in v1.0.1. We weren't handling URLs with a nonstandard scheme correctly

[2015-06-02 09:35] #81 closed

[2015-06-02 09:36] #75 closed

[2015-06-02 09:50] Harkin commented on #77
I followed up with Cyrille through Intercom about this crash. New Relic bundle an older version of GSON in their library. It is namespaced in the latest version, are you using that version? The sdk is using the version of GSON that New Relic is supplying, no idea why if it's namespaced. Maybe it isn't in the New Relic library you're using?

[2015-06-02 10:54] manishkungwani opened #84 "IndexOutOfBoundsException crash in intercom. Class- io.intercom.android.sdk.preview"
Hi,
Please have a look at this exception I got in my app:
Using intercom version 0.9.5

java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
       at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
       at java.util.ArrayList.get(ArrayList.java:308)
       at io.intercom.android.sdk.preview.PreviewService.onTouch(PreviewService.java:415)
       at android.view.

[2015-06-02 11:13] manishkungwani opened #85 "RuntimeException crash in intercom."
Hi,
Please have a look at this Exception I got in my app:

java.lang.RuntimeException: Could not dispatch event: class io.intercom.android.sdk.models.Events.ConversationEvent to handler [EventHandler public void io.intercom.android.sdk.conversation.ConversationFragment.conversationSuccess(io.intercom.android.sdk.models.Events.ConversationEvent)]: setSpan (0 ... 144) ends beyond length 138
       a

[2015-06-02 11:16] Harkin commented on #84
Hi @manishkungwani

Can you reproduce this? I haven't been able to myself so any extra information you can give would be really helpful in tracking this down.

Are you sure it's version 0.9.5 too that this happened on? The stacktrace doesn't make sense for v0.9.5

Henry

[2015-06-02 11:18] Harkin commented on #85
That was an issue with some html content in a list item not being correctly counted towards the length of the string, it's fixed in the latest version

[2015-06-02 11:18] #85 closed

[2015-06-02 11:23] Harkin commented on #83
Hi @Mathbl

Are you trying to use GCM through Intercom in your app (i.e. calling Intercom.client().setupGCM at some point) or have you at some point registered the device for GCM notifications? We've seen this happen if you receive a GCM notification and doesn't have the `<uses-permission android:name="android.permission.WAKE_LOCK" />` permission in your manifest

[2015-06-02 12:45] Mathbl commented on #83
No, I don't use GCM.

[2015-06-02 13:42] Harkin commented on #83
What version of the library are you using and does it crash directly after registration or at some later point in the app?

Also are you seeing this on a single device or multiple devices?

[2015-06-02 13:56] Mathbl commented on #83
[code]

I'm not able to reproduce the crash on-demand...so that's pretty hard to pin point what is the exact issue. The two/three times it happened, i'm pretty sure it was when I hit the Sign in button (that does the registration call). If it happens again i'll try to see if I can provide more info.

[2015-06-03 10:19] manishkungwani commented on #84
Hey Harkin,
Thanks for responding.
I will collect relevant information and update this issue.

[2015-06-03 13:23] manishkungwani opened #86 "RuntimeException crash in intercom - Could not dispatch event: class io.intercom.android.sdk.models.Events.ConversationEvent"
Hi,
When using intercom v0.9.5, got this exception on the Play Store apk.
Please have a look at the Exception:

java.lang.RuntimeException: Could not dispatch event: class io.intercom.android.sdk.models.Events.ConversationEvent to handler [EventHandler public void io.intercom.android.sdk.conversation.ConversationFragment.conversationSuccess(io.intercom.android.sdk.models.Events.ConversationEvent)]

[2015-06-03 13:27] DaleCantwell commented on #86
@manishkungwani thanks for reporting this issue. It is a duplicate of https://github.com/intercom/intercom-android/issues/85 the issue was resolved in 1.0.2.

[2015-06-03 13:27] #86 closed

[2015-06-03 13:40] manishkungwani commented on #86
I apologize for reporting the same issue again. Sorry Dale.

[2015-06-03 14:02] DaleCantwell commented on #86
No problem at all, better safe than sorry.

[2015-06-04 12:23] eoin commented on #76
[code]

[code]

[2015-06-04 12:30] anshul90 commented on #77
Hey Harkin, can you please give me Constants class of intercom GCM which has a sharedPreferences `Constants.GCM_DETAILS` ? I'm getting error in it. And tell me I need any receiver or anything else in Manifest.xml ??

[2015-06-04 13:49] Harkin commented on #77
@anshul90 it sounds like whatever trouble you're experiencing isn't related to this issue, could you make a new issue outlining what you're doing, what's going wrong, any logs or stacktraces you have?

[2015-06-04 16:18] eoin commented on #76
We've found the root cause here, we have a fix planned and are tracking the issue internally.

[2015-06-04 16:18] #76 closed

[2015-06-05 04:29] anshul90 commented on #77
@Harkin I'm using intercom sdk 1.0.0. I've initialized everything and now I'm integrated code for GCM in my app from http://docs.intercom.io/Install-on-your-mobile-product/using-google-cloud-messaging-gcm-with-intercom-for-android#-step-6-register-for-intercom-gcm- I have written each code from here but I don't know what to write in place of `DummyApplication`. Can you please give me a right way?

[2015-06-05 05:26] anshul90 commented on #77
@Harkin Now i'm using your code https://github.com/intercom/intercom-android/blob/master/samples/intercom-gcm-sample/gcmsample/src/main/java/io/intercom/gcmsample/MainActivity.java but I use `registerIdentifiedUser` in Login Class and using GCM code without TextViews in another class. There is no error or no crashing  but I'm not getting push notifications when my app isn't opened.

[2015-06-05 08:31] Harkin commented on #83
I've been trying to reproduce this and the only way I've managed to do so is by removing the wake lock permission from an app that has GCM already set up and then receiving a push notification. Does that sound anything like your situation @Mathbl?

What device are you experiencing this with?

[2015-06-05 09:27] Harkin opened #87 "GCM setup"
Following on from https://github.com/intercom/intercom-android/issues/77 I've updated the GCM docs to be more clear about what certain parameters are, the short of it is that those are all constants and you need to supply your own values for them. Specifically where you mention `DummyApplication` you need to supply your GCM sender id.

GCM shouldn't require any input from your users to work. If yo

[2015-06-05 09:28] Harkin commented on #77
@anshul90 I have created a new issue for you here https://github.com/intercom/intercom-android/issues/87, lets take the discussion to there :+1:

[2015-06-05 10:12] anshul90 commented on #87
Thanks. Everything is fixed now. But when I'm updating avatar I get this format on intercom web like {&quot;type&quot;:&quot;avatar&quot;,&quot;image_url&quot;:&quot;https:\/\/fnfsvvi-jug.in\/images\/95\/thumbnail_1432291713.jpg&quot;}

[2015-06-05 11:01] Harkin commented on #87
How are you trying to update the avatar?

[2015-06-05 11:03] anshul90 commented on #87
My Code looks like
`Map userMap = new HashMap<String, String>();
		jsonAvatar = new JSONObject();
		try {
			jsonAvatar.put("type", "avatar");
			jsonAvatar.put("image_url", icon_candidate);
		} catch (JSONException e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}
		Map<String, String> customAttributes = new HashMap<String, String>();
		customAttributes.put("Name", name_candi

[2015-06-05 11:22] Harkin commented on #87
The avatar isn't something you can update through the library. Here's a list of all the fields you can update [link](https://doc.intercom.io/api/#create-or-update-user)

[2015-06-05 11:28] anshul90 commented on #87
Avatar is also in the list.

[2015-06-05 11:34] Harkin commented on #87
It's returned in a response if you query for a user, but it's read only. It isn't in the list of attributes that you can update

[2015-06-05 11:39] anshul90 commented on #87
Ok thanks. One of intercom's member also told me this on Chat. I'm not gonna update it anymore. thanks  for your support @Harkin

[2015-06-05 12:03] Harkin commented on #87
:+1:

[2015-06-05 12:03] #87 closed

[2015-06-05 12:10] Mathbl commented on #83
I got the crash twice on a Nexus 5 and a Lenovo Yoga 2 10. I don't have any permission related to intercom in my manifest.

Like I said, I'm not using GCM at all in my app. So that's strange. I guess i'll have to put the wake lock permission, but that doesn't sound right to put a permission I don't need.

[2015-06-05 13:30] Harkin commented on #83
I'm a bit lost as to how this is happening. The crash occurs in our broadcast receiver which is called by the system whenever a GCM notification arrives for your app. In order for us to send a GCM notification to your devices, we have to have a GCM registration id for each device. We don't generate that in the library, it's only given to us by calling `Intercom.client().setupGCM(params...)`.

The

[2015-06-05 20:22] gennadiiivanov opened #88 "java.lang.NullPointerException on startup"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.XXX.XXX/com.XXX.android.activity.SplashScreenActivity}: java.lang.NullPointerException
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2187)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2236)
       at android.app.ActivityThread.access$800(ActivityThread.java:138)

[2015-06-08 09:59] Harkin commented on #88
Hi @gennadiiivanov

Looking into this one, is this a bug you can reproduce in-house or are you just getting reports in from a released app?

[2015-06-08 13:12] gennadiiivanov commented on #88
@Harkin , I am getting these reports from already released app. Cannot reproduce the issue in-house because don't have mentioned devices to test with.

[2015-06-08 15:12] Harkin commented on #88
Unfortunately we're in the same situation here. I'm looking into what might be going wrong on those devices

[2015-06-08 15:15] gennadiiivanov commented on #88
I might found the needed device. Please, let me know if you have any debug build so I could test it.

[2015-06-08 15:32] Harkin commented on #83
I've managed to reproduce this issue once. I can't make it happen unfortunately so it's hard to tell if my fix is actually fixing it or I'm just not encountering it. @Mathbl have you found any pattern to when it happens?

[2015-06-08 16:06] gennadiiivanov commented on #88
Tried on all devices we have and couldn't reproduce.

[2015-06-08 16:23] Harkin commented on #88
:( I'm putting in the necessary null checks here to avoid this happening again on those devices, we'll release a new version of the library with this fix soon (probably tomorrow)

[2015-06-09 14:22] Mathbl commented on #83
No pattern for me neither. I didn't work on the app for the past 4-5 days, but if I'm able to get the crash again, i'll tell you for sure.

[2015-06-09 16:07] Harkin commented on #88
@gennadiiivanov v1.0.4 shouldn't have this problem, let me know if you come across any other issues

[2015-06-09 16:07] #88 closed

[2015-06-09 16:08] Harkin commented on #83
@Mathbl v1.0.4 should fix this issue, but I never found out why it was happening. It seems like the system would sometimes ping our gcm broadcast receiver when there wasn't a gcm message received, we expected that if it got pinged you had gcm set up etc. Let me know if you experience anything like this again

[2015-06-09 16:08] #83 closed

[2015-06-09 16:09] #77 closed

[2015-06-09 16:09] #74 closed

[2015-06-11 00:01] dzeikei opened #89 ""Message to a Handler on a dead thread" in ADB logs"
I keep getting the following coming up in ADB logs.
Does Intercom need to be called from only the main thread?

[code]

[2015-06-11 10:28] harkin commented on #89
Hi @dzeikei

That looks like a bug in our real time library. Definitely not great, but also not something that should affect your (apart from annoying logs). Is Intercom working correctly in your app?

[2015-06-11 15:04] whmsysu opened #90 "Crash and report java.lang.NoClassDefFoundError: io.intercom.android.sdk.api.MainThreadBus"
I use gradle and maven to intergrate intercomm. When I run the app, the app crash and report:java.lang.NoClassDefFoundError: io.intercom.android.sdk.api.MainThreadBus

My build gradle file's content:
buildscript {

    repositories {
        mavenCentral()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:1.1.0'
    }
}

allprojects {
    repositories {
        mavenCentr

[2015-06-11 15:11] harkin commented on #90
You aren't including any of the dependencies required for Intercom to work. You can either include the dependencies transitively from Intercom like
[code]

or by including the ones you need from our listed dependencies [here](https://github.com/intercom/intercom-android#remote-dependencies)

[2015-06-11 15:11] #90 closed

[2015-06-11 15:20] whmsysu commented on #90
Change the code as you mention above.
But.....
Error:Execution failed for task ':foodfanSelect:dexDebug'.

[2015-06-11 15:31] whmsysu opened #91 "Can not integrate the intercom android plugin"
Have a error in building stage:
Error:Execution failed for task ':foodfanSelect:dexDebug'.

My build gradle script is:
buildscript {

    repositories {
        mavenCentral()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:1.1.0'
    }
}

allprojects {
    repositories {
        mavenCentral()

    }
    repositories {

        maven {
            url "https://oss.sona

[2015-06-11 15:34] harkin commented on #91
Do you have a full log of the build process I could look at?

[2015-06-11 15:40] whmsysu commented on #91
Information:Gradle tasks [:foodfanSelect:assembleDebug]
:foodfanSelect:preBuild UP-TO-DATE
:foodfanSelect:preDebugBuild UP-TO-DATE
:foodfanSelect:compileDebugNdk UP-TO-DATE
:foodfanSelect:checkDebugManifest
:foodfanSelect:preReleaseBuild UP-TO-DATE
:foodfanSelect:prepareComAndroidSupportAppcompatV72211Library UP-TO-DATE
:foodfanSelect:prepareComAndroidSupportMediarouterV72200Library UP-TO-DATE
:fo

[2015-06-11 15:45] harkin commented on #91
Looks like you have more than 65k methods in your app now. Google have a good guide on how to build an app that exceeds the dex limit [here](https://developer.android.com/tools/building/multidex.html)

[2015-06-11 15:45] #91 closed

[2015-06-11 17:06] whmsysu opened #92 "Intercom-Android﹕ ERROR: It appears your app is not on a plan that allows message composing As a fallback we are calling displayConversationsList()"
When trying to call the conversation list, it shows an error. Could anyone tell me what's the meaning of this error? I finished the install part and registration part, but fail to load the conversation list.

[2015-06-11 19:22] #92 closed

[2015-06-12 09:02] defcon89 opened #93 "Failed to resolve io.intercom.android:intercom-sdk:1.0.4@aar"
Hi,

Failed to resolve io.intercom.android:intercom-sdk:1.0.4@aar

[2015-06-12 09:05] harkin commented on #93
Are you including the maven url in your repositories?
eg
[code]

[2015-06-12 09:07] defcon89 commented on #93
Yes, i've included maven url in repositories.

[2015-06-12 09:14] harkin commented on #93
Hm, that's the normal reason why it can't resolve the dependency. Are you behind a proxy or something that might be interfering with the http request? Can you open the download link directly in a browser [link](https://dl.bintray.com/intercom/intercom-maven/io/intercom/android/intercom-sdk/1.0.4/)?

Would you mind sharing your apps build.gradle file?

[2015-06-12 09:50] defcon89 commented on #93
No proxy and i can download directly from your link.

I can't share build.grade because is a private project.

I tried to clean project and the result is:

Could not resolve io.intercom.android:intercom-sdk:1.0.4.
     Required by:
         ?:app:unspecified

[2015-06-12 10:00] harkin commented on #93
Looks like an ssl problem. Could you switch the maven url to `http://dl.bintray.com/intercom/intercom-maven` and try again?

[2015-06-12 10:15] defcon89 commented on #93
ok, now it works! thanks a lot.

[2015-06-12 10:43] harkin commented on #93
Happy to help :)

[2015-06-12 10:43] #93 closed

[2015-06-12 11:48] caglarbozkurt opened #94 "Turkish Language Support"
Hi, is there any way that our team can contribute to SDK in order to add Turkish language support? Most of our users are using our mobile application locally, so we need this kind of functionality.

Thanks!

[2015-06-12 12:00] briandonohue commented on #94
Right now we don't have localisation functionality within the SDKs. Once we do, Turkish will be on the list for languages we support. We haven't committed to a date for when we'll build in localisation, but we'll take this as a vote for doing it sooner!

[2015-06-12 12:00] #94 closed

[2015-06-15 14:24] gennadiiivanov opened #95 "Crash in PreviewService"
[code]

[2015-06-16 00:38] dzeikei opened #96 "Intermittent ANR in GcmIntentService and PreviewService?"
This started happening, possibly after the latest update.
I haven't really looked into it yet but it happens quite regularly and the user gets ANR dialogs.

[code]

[2015-06-16 00:43] dzeikei commented on #96
Just got another one for `PreviewService`
[code]

[2015-06-16 02:31] dzeikei commented on #96
Also happens when the app is in the background.
I am running `Intercom.initialize()` in the Application class, so it probably happens when the app starts up in the background due to geofence, GCM, etc.

[2015-06-16 09:06] msodq commented on #87
I have question about Using Google Cloud Messaging (GCM) with Intercom for Android. I am following this tutorial http://docs.intercom.io/Install-on-your-mobile-product/using-google-cloud-messaging-gcm-with-intercom-for-android and https://github.com/intercom/intercom-android/tree/master/samples/intercom-gcm-sample but the notification not showing on notification bar

[2015-06-16 09:07] msodq opened #97 "Notification not showing when Using GCM with Intercom"
I have problem with Using Google Cloud Messaging (GCM) with Intercom for Android. I am following this tutorial http://docs.intercom.io/Install-on-your-mobile-product/using-google-cloud-messaging-gcm-with-intercom-for-android and https://github.com/intercom/intercom-android/tree/master/samples/intercom-gcm-sample but the notification not showing on notification bar.

Any idea or solution?

[2015-06-16 09:10] DaleCantwell commented on #97
Hi @msodq, in the gcm sample app after putting in your apps credentials can you see any errors in the logs? It is worth noting that the host app must be closed or backgrounded to receive notifications in the top bar.

[2015-06-16 09:34] msodq commented on #97
Hi @DaleCantwell , i don't see any errors.

[2015-06-16 11:38] derek-cheung commented on #95
Also getting this crash on our app, consistently on some screens (v1.0.4).

java.lang.RuntimeException: Unable to start service io.intercom.android.sdk.preview.PreviewService@18588143 with Intent { cmp=/io.intercom.android.sdk.preview.PreviewService }: java.lang.NullPointerException: Attempt to invoke interface method 'boolean java.util.List.isEmpty()' on a null object reference
           at andr

[2015-06-16 11:44] derek-cheung opened #98 "NoClassDefFoundError in 2.3.x devices"
We've started seeing this crash on 2.3.x devices since updating to v1.0.4.

`java.lang.NoClassDefFoundError: android.util.LruCache
	at io.intercom.android.nexus.NexusClient.<init>(SourceFile:21)
	at io.intercom.android.sdk.NexusWrapper.<init>(SourceFile:14)
	at io.intercom.android.sdk.Bridge.<init>(SourceFile:35)
	at io.intercom.android.sdk.Bridge.init(SourceFile:42)
	at io.intercom.android.sdk.gc

[2015-06-16 12:11] DaleCantwell commented on #97
Could you debug the setUpPush method? You should see some value for regId. Then when sendRegistrationIdToBackend is called it should hit Intercom.client().setupGCM(regId, R.drawable.ic_launcher);
If you have received no error by then we should do a deeper dive into a specific conversation. If we do need to do a detailed investigation it may be worth taking it to a private conversation as we may ne

[2015-06-16 17:58] IlyaEremin commented on #50
@DaleCantwell for what need gcm from google play services? Is it for analytics or for push notifications? Can I use these code:

    compile ('io.intercom.android:intercom-sdk:1.0.4@aar') {
        transitive = true
        exclude group: 'com.google.android.gms'
    }
If I need only analytics?

Also, it is obvious need to rid of much of dependency. For example, I use `jackson` for json parsing an

[2015-06-16 21:53] nemezis opened #99 "NullPointerException in io.intercom.android.sdk.gcm.GcmIntentService"
Received several crashes in my application:

java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Intent.getAction()' on a null object reference
       at io.intercom.android.sdk.gcm.GcmIntentService.onHandleIntent(GcmIntentService.java:39)
       at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:65)
       at android.os.Hand

[2015-06-17 17:45] IlyaEremin opened #100 "ERROR: API call failed."
Hi, I add intercom to my project.
I initialize it in `App` class:

    Intercom.initialize(app, "xxx", "yyy");
    if (User.isLoggedIn()) {
        Intercom.client().registerIdentifiedUser(new Registration()
                .withUserId(String.valueOf(User.getProfile(app).getId())));
    } else {
        Intercom.client().registerUnidentifiedUser();
    }

 and but I gen `ERROR: API call failed.` i

[2015-06-17 18:03] IlyaEremin commented on #100
Sorry, I used incorrect api key =\

[2015-06-17 18:03] #100 closed

[2015-06-17 20:42] mchicote opened #101 "Null attributes"
Hi
I'm getting some strange behavior when I try to update a user's custom attribute with a null value.
For example, if I go:

[code]

If `user.getGender()` is null, the whole update fails. I know that I could check this myself but it would be much nicer if I did not had to.

Btw, I think this also happens in the iOS SDK.

Thanks
Marcos

[2015-06-17 20:51] mchicote commented on #101
I'm registering the user with email before this.

[2015-06-18 09:35] harkin commented on #101
hi @mchicote

I can't reproduce this, I'm able to update custom attributes while other custom attributes are null. What version of the library are you seeing this on and are you seeing any errors in logcat as it happens?

[2015-06-18 12:08] mchicote commented on #101
Library version 1.0.0 (could this be the problem?)
I think the problem is on io/intercom/android/sdk/utilities/AttributeValidator.class:45 when called with the custom_attributes map. But I can't find the class in the repo anymore....sound like a version issue, right?

[2015-06-18 13:03] mchicote commented on #101
btw, I'm seeing this on logcat

[code]

[2015-06-19 13:10] DaleCantwell commented on #99
@nemezis thanks for reporting this issue. We have resolved this crash in Version 1.0.4
Let me know if you get any reports of it in version 1.0.4 and we will open a new issue.

[2015-06-19 13:10] #99 closed

[2015-06-19 13:12] nemezis commented on #99
@DaleCantwell I encountered this issue in 1.0.4

[2015-06-23 08:27] KeithYokoma commented on #95
Same for me with `1.0.4`. Log says the service is going to use a null reference of List and causing `NullPointerException`.

[code]

[2015-06-23 09:29] harkin commented on #95
Sorry for the delay in getting back to you on this, I'm investigating this crash now

[2015-06-23 14:00] mudar commented on #88
@harkin @DaleCantwell
The issue with `DeviceUtils.generateMacId()` was first reported 2 months ago (5 issues reported here), and the answer was that v0.9.6 fixed it.

I've just had a report of the same crash on Motorola XT1254 running 4.4.4. Will update to v1.0.4, but could you please have a second look at this issue?

[code]

[2015-06-23 14:08] gennadiiivanov commented on #88
@mudar I confirm that the issue is fixed in v1.0.4. We have a thousands of these crashes in 1.0.3 and have no any similar crashes in v1.0.4.

[2015-06-23 14:10] mudar commented on #88
Thanks for the fast reply!
I forgot to mention I was running v1.0.0

[2015-06-23 14:55] harkin commented on #101
@mchicote apologies for the delay in getting back to you on this. Yeah this looks like a versioning issue. We did do some client side validation in that version but we've removed it in more recent versions because really the client shouldn't be doing validation like that, especially when what the server accepts can change.

[2015-06-23 15:00] #101 closed

[2015-06-23 15:01] harkin commented on #98
:( looking into why this is happening

[2015-06-23 15:04] mchicote commented on #101
Great! Thanks!

[2015-06-23 16:00] harkin commented on #98
The flow that could cause this to happen is receiving a gcm notification on gingerbread. But the library doesn't ever register for push if you're on gingerbread so you'll never receive one.

So the service for handling the gcm notification is being pinged when we don't expect it to. I'm making some changes that will address this, it'll be fixed in the next release

[2015-06-23 16:00] #98 closed

[2015-06-24 12:08] DaleCantwell commented on #96
@dzeikei are there any more details in the ANR or have you seen any stack trace for a crash? Send on anything you spot. I haven't been able to reproduce the issue yet so if you spot any reproducible steps let me know.

[2015-06-24 12:18] harkin commented on #95
The service wasn't managing state properly when a process restarted, there will be a fix for this in the next release

[2015-06-24 13:14] gennadiiivanov commented on #95
@harkin have you fixed both reported crashes?

[2015-06-24 13:51] harkin commented on #95
@gennadiiivanov maybe I've missed something here, the three stack traces posted are all for the same crash (a null pointer exception on line 263 of the service)

[2015-06-24 14:28] gennadiiivanov commented on #95
@harkin , sorry, I've overlooked it. Yes, they are from the same crash.

[2015-06-24 14:31] harkin commented on #95
:+1:

[2015-06-26 11:11] IlyaEremin commented on #95
@harkin when do you plan to release new version?

[2015-06-29 03:10] sureshjoshi commented on #95
Why was this closed? I just got this crash in 1.0.4. Shouldn't it be closed when the fix is public?

    java.lang.RuntimeException: Unable to start service io.intercom.android.sdk.preview.PreviewService@110e3d5f with Intent { cmp=com.mioglobal.android.miogo/io.intercom.android.sdk.preview.PreviewService }: java.lang.NullPointerException: Attempt to invoke interface method 'boolean java.util.List.

[2015-06-30 07:41] dzeikei opened #102 "NullPointerException in PreviewService"
[code]

[2015-06-30 07:42] dzeikei commented on #96
I'll follow up if I can reproduce it consistently.

[2015-06-30 07:42] dzeikei commented on #102
Version 1.0.4

[2015-06-30 08:31] harkin commented on #102
Thanks for letting us know about this one, we've already fixed the underlying issue and that fix will be in v1.0.5

[2015-06-30 09:03] harkin commented on #95
@IlyaEremin all going well, today or tomorrow

@sureshjoshi :+1: you're right, I reckon I hit the wrong button :(

[2015-06-30 09:04] harkin commented on #102
Going to close this issue in favour of https://github.com/intercom/intercom-android/issues/95

There's more discussion on that one

[2015-06-30 09:04] #102 closed

[2015-06-30 23:54] sureshjoshi commented on #95
Please tell me this fix is coming soon. I got 148 crashes TODAY on this.

[2015-07-01 15:58] harkin commented on #95
the new version is up now

[2015-07-01 15:58] #95 closed

[2015-07-01 16:36] harkin commented on #50
@IlyaEremin sorry for the delay in responding, didn't see your comment

We include that for GCM notifications. The latest version of the library has split GCM into it's own module so if you don't require GCM in your app you can use grab the base aar from bintray,
[code]

[2015-07-01 16:45] harkin commented on #50
We are looking into repackaging our dependencies to avoid conflicts etc, I'll keep this issue updated with where that investigation leads us

We're hoping that splitting gcm into a separate module will help with some of the existing problems and cut down on permissions for those that don't want gcm.

[2015-07-01 18:14] IlyaEremin commented on #50
@harkin ok, thanks for explonation about `intercom-sdk-base`. It is very helpful.
One more quetion about dependency: Does `picasso` need for base sdk?

[2015-07-02 10:02] harkin commented on #50
@IlyaEremin yeah we still use picasso in `intercom-sdk-base`

[2015-07-02 10:21] IlyaEremin commented on #50
@harkin can you tell for what? In my mind `intercom-sdk-base` is responsible for analytics and does not affect on the UI. Am I wrong?

[2015-07-02 10:27] harkin commented on #50
@IlyaEremin sure. Base incorporates all the functionality of the library except GCM notifications. This includes being able to start, read and respond to conversations, which will have avatars and can contain images etc

[2015-07-02 21:12] sureshjoshi commented on #95
Could we get some feedback as to what caused this issue and how it escaped testing? It chalked up 7300 crashes across 1700 users of my app - reaching level 5 in Crashlytics (first time I've seen a level 5 error)

I've backed out intercom entirely for the time being, until it stabilized, but some insight into how these crashes are introduced and what testing is going on would go a long way to ease

[2015-07-03 13:39] hvisser opened #103 "Font assets clashing"
In our app we bundle the Roboto fonts in the assets directory, e.g. `assets/fonts/roboto-medium.ttf`. Apparently the Intercom SDK is doing the same with different casing (OS X doesn't mind). The app will build fine, but crash at runtime because of this. It might be better to package the intercom fonts in a more unique location to prevent clashing with application resources.

[2015-07-03 13:49] harkin commented on #103
You're spot on there, we'll namespace the fonts and I'll make sure there aren't any other resources that might cause a clash

[2015-07-03 13:53] hvisser commented on #103
Great, thanks!

[2015-07-06 10:38] ntoskrnl opened #104 "MainActivity leaked"
I use LeakCanary in my app to detect memory leaks.

Every time I close my application, LeakCanary reports a leak of `io.intercom.android.sdk.activities.MainActivity`

![screenshot_2015-07-06-13-16-57](https://cloud.githubusercontent.com/assets/1446492/8520566/fe9ff1cc-23e3-11e5-93d0-e3857bd79c9c.png)

![screenshot_2015-07-06-13-17-00](https://cloud.githubusercontent.com/assets/1446492/8520569/0567

[2015-07-06 10:48] ntoskrnl opened #105 "Only open Intercom chat once after opening push notification"
In `onCreate()` of my app's main activity I call
`Global.intercomClient().openFromPush(getIntent())`

Please consider the following test case:
1.  Open push notification from intercom, the app starts and I see Intercom chat activity as expected.
2.  Tap back 2 times to close the chat window and the app.
3. Go back to the application from *recent apps*.

I should return to my app, but instead I see

[2015-07-06 13:08] harkin commented on #104
:( looking into what's going on here

[2015-07-06 14:25] harkin commented on #104
The event bus we use is holding onto references to something in a list that it shouldn't be once you close a conversation.

[2015-07-06 15:59] harkin commented on #104
I believe this is fixed; the list that was holding onto a reference is no longer doing so. That fix is in v1.1.2

Going to close this as I can't detect this now, but let me know if you see this again and I'll be on it's case :+1:

[2015-07-06 15:59] #104 closed

[2015-07-06 16:01] harkin commented on #103
v1.1.2 was just released and has namespaced fonts, I also caught some assets in raw that weren't namespaced (but those weren't likely to cause a clash anyway). Let me know if you come across anything else that causes an issue like this and we can fix it

[2015-07-06 16:01] #103 closed

[2015-07-06 16:22] harkin commented on #105
That's an interesting issue. I don't want to leave this hanging for too long without a response. We're thinking and talking about this.

First reaction is that you're passing the same Uri in both times so it's reasonable for Intercom to react the same both times. This puts the burden of managing when to call `intercom.openGcmMessage()` on the host app and that's not something we _really_ want to d

[2015-07-06 16:27] ntoskrnl commented on #104
Well done! :+1:

[2015-07-06 16:35] ntoskrnl commented on #105
Thank you for your quick reply. This is a very minor issue, just that our testers find this behavior a bit odd...

Indeed, the intent (and thus the uri) is the same. I was thinking how to tell the activity that this intent has already been handled... There should be some boolean flag that would mae activity forget about the first intent (true if intercom has been shown for this uri), but where sho

[2015-07-07 17:31] harkin commented on #95
We made some changes to our service that manages notifications when an app is open that involved changing how it managed some state. There was a reference to a list that wasn't being restored correctly after the service was killed and restarted when the app was backgrounded (typically caused by a process restart) which lead to the null pointers. I'm surprised you saw it happen so frequently.

I'm

[2015-07-07 18:29] sureshjoshi commented on #95
@harkin Thanks for the candor, really appreciate it!!

[2015-07-08 01:41] dzeikei commented on #96
I think this is unrelated to intercom.io but with Butterknife

[2015-07-08 01:44] dzeikei commented on #89
It stopped happening after update, thanks

[2015-07-08 01:44] #89 closed

[2015-07-08 07:42] dzeikei commented on #96
Actually it was intercom but hasn't happened for a while after updates, will see if it ever happens again.

[2015-07-10 12:55] gennadiiivanov opened #106 "Illegal argument exception in unread conversations api call, missing callback"
[code]

Happened in 1.1.1 version.

[2015-07-10 12:56] gennadiiivanov opened #107 "RuntimeException when getTypeface results in a native typeface cannot be made"
[code]

Happened in 1.1.1 version.

[2015-07-10 12:56] gennadiiivanov opened #108 "PreviewService rootview null if the service is created from the background"
[code]

Happened in 1.1.1 version.

[2015-07-14 10:02] harkin commented on #106
That's a strange crash, a callback is passed in as the last argument to that method. How often are you seeing this crash? It should be on every launch if there was a problem.

[2015-07-14 13:23] gennadiiivanov commented on #106
It happens very rarely. But still, this is a crash that we have inside your library.

We are not using retrofit in our project.

[2015-07-14 13:29] DaleCantwell commented on #107
@gennadiiivanov could I get some additional information on your integration. What IDE are you using? How are you integrating Intercom eg. if its in Gradle are you using transitive = true
Do you see this error all the time? Is it only happening on a specific device?

[2015-07-14 13:30] harkin commented on #106
Of course. Unfortunately I can't reproduce the crash. Do you have any more information about when it happens or under what circumstances it crashes?

Are you including the transitive dependencies of our library so? I just want to make sure it's not a version problem

[2015-07-14 14:03] DaleCantwell commented on #108
@gennadiiivanov thanks for reporting this to us. We are working on a solution now. Was there any reproducible steps that lead to this crash?

[2015-07-14 15:16] gennadiiivanov commented on #108
We could reproduce the issue. We got crash log into the crash reporting system from the released app.

[2015-07-14 15:17] gennadiiivanov commented on #106
We have no any additional information.

Yes, we do

[code]

[2015-07-14 15:31] gennadiiivanov commented on #107
We are using Android Studio 1.1.0 buildToolsVersion 21.1.2.

Yes, we do

[code]

It is happening randomly. We got only a few of this crash. No any specific devices.

[2015-07-15 09:09] DaleCantwell commented on #107
@gennadiiivanov could you send me on any additional information you have on this issue. Even if its not one specific device could we get the list of devices (or at least a subset) for us to attempt to replicate the crash?
Thanks,
Dale

[2015-07-15 10:00] harkin commented on #106
Do you know what device(s) or what versions of android this crash happened on?

The obvious reason this might crash is if a callback wasn't passed into that method. If that were the case everyone would see the crash and it would happen very often, which isn't the case here it seems. I haven't been able to reproduce this so now I'm wondering under what circumstances it could happen.

Do you see any

[2015-07-15 10:31] DaleCantwell commented on #108
@gennadiiivanov it was possible that the rootview of our PreviewService could be null. The circumstances to cause this are incredibly hard to reproduce. We have modified this section so that if the rootview is null that none of the children can ever be referenced.
Out of interest does your crash logging give you percentages or numbers to reflect how common this issue is?

[2015-07-15 12:24] DaleCantwell commented on #84
@manishkungwani Have you experienced this issue in any of our recent versions? We are now on 1.1.2. I am going to close out this issue for now but reopen if you encounter this crash on the post beta versions.
Thanks,
Dale

[2015-07-15 12:24] #84 closed

[2015-07-15 12:27] DaleCantwell commented on #97
@msodq I'm going to close out this issue for now. Reopen the issue if you are still encountering it on our current version.
Thanks,
Dale

[2015-07-15 12:27] #97 closed

[2015-07-15 13:09] DaleCantwell commented on #105
@ntoskrnl there are a few options to fix this issue. In the long term we will look at modifying the method to pass the intent on with an additional extra 'wasUsedByIntercomSDK' field to allow host apps to know we have used this intent. For now there are a few host solutions:

This is essentially what we will do inside the SDK in the next release
[code]

You could check if the intent has been launc

[2015-07-15 15:12] gennadiiivanov commented on #107
This is not  a big crash. It happened only for 2 users from thousands of them:
1. TCL 6036A, Android 4
2. Samsung SM G900H, Android 4.

[2015-07-15 15:26] manishkungwani commented on #84
Didn't experience it again.
Thanks

[2015-07-15 15:27] gennadiiivanov commented on #108
@DaleCantwell this is one of the 2 main crashes (btw, another one also comes from Intercom) we have in the app. It happened for 15 users from thousands.

[2015-07-15 15:32] gennadiiivanov commented on #106
@harkin it happened only on Samsung devices, Android 5:
84% - SM G900M
16% - SM G900F

Looks like the crash happened in Out Of Memory circumstances because crash reporting system shows 98% RAM used on these devices.

Our app is multidexed.

[2015-07-15 21:29] sirvon commented on #92
what plan is need to allow composing?
how was this resolved?

[2015-07-16 09:40] harkin commented on #92
@sirvon you need to be on either our [Support or Support Pro plan](https://www.intercom.io/customer-support) to allow composing

[2015-07-16 10:43] DaleCantwell commented on #107
@gennadiiivanov could you link us to your application or send us an apk privately if you would prefer to. I can't recreate this issue. Any manipulation of our fonts leads to the asset not found error never the native typeface cannot be created. I am interested to see if this is related to an out of memory issue.

[2015-07-16 13:34] sirvon commented on #92
@harkin reponses for intercomio are faster using github issues than actually using intercomio on the intercom website....dont't know what that says :)
but thanks!

[2015-07-16 15:30] harkin commented on #92
@sirvon generally you will get a faster response through Intercom. Most of our devs are in GMT and that's when github issues are updated. Our customer success team has a lot more timezone coverage. Thanks for letting me know about your message through Intercom, I've raised it internally here that you were waiting

[2015-07-16 16:23] gennadiiivanov commented on #107
Yes, it is. The amount of used RAM memory in the moment of crash is 99%.

[2015-07-16 18:33] harkin commented on #106
I was hoping it'd be one or the other to narrow things down. I know with some versions of the gradle build tools there are multidex issues where classes either aren't included or are in some way removed from the classpath. That manifested in no class def found exceptions but I think it's worth checking here. The version we saw errors with was gradle build tools 1.0.1, are you by chance using that

[2015-07-16 18:46] gennadiiivanov commented on #106
We are using build tools 1.1.0

I agree with this

It happens only on Samsung Android 5 as I mentioned earlier

Ok, we will try to profile and find the circumstances as well. The problem is that we cannot reproduce the crash on our in house devices.

[2015-07-18 10:55] behzodbek opened #109 "New message does not appear after closing conversation activity"
1. Open new message by clicking  PreviewView;
2. Read all unread messages
3. Close ConversationActivity
4. Send new message to app.
If app is on background, than arise PN and user will be notify about new message, Unless PreviewView does notify about new message. Is it bug?

[2015-07-18 12:04] behzodbek opened #110 "Custom TaskStackBuilder for Notification"
Pelase add opportunity adding custom TaskStackBuilder for Notification.
Now in my app start point of app is Splash Activity. It checks some data and may open MainActivity in 3 seconds.
Intercom.client().openGCMMessage call does not work if I add into MainActivity. If I add Intercom.client().openGCMMessage(Uri uri) call into SplashActivity by clicking notification it opens SplashActivity and top of

[2015-07-18 15:42] tylergo commented on #109
@behzodbek please add photos

[2015-07-18 15:42] tylergo commented on #110
@behzodbek please add pictures with descriptions

[2015-07-20 09:05] harkin commented on #109
@behzodbek Are you on a plan that supports real time message delivery?

[2015-07-20 09:11] DaleCantwell commented on #110
@behzodbek thanks for the feedback. We are always looking for ways to improve our GCM capabilities. A TaskStackBuilder could be very useful for many situations so I will add to our list of GCM featur requests. We won't be able to work on it right away but I will update this thread as soon as we look into it.
In the meantime would it be possible in your integration to add the SplashActivity intent

[2015-07-20 09:24] DaleCantwell commented on #107
@gennadiiivanov I have tried to replicate this issue on the same device you use and on a simulated version restricted to 256mb of RAM but I never hit that error.
Is it possible to get a breakdown of what process was using most of the memory just before the crash? If the application is hitting 99% memory usage loading any image or font would certainly be enough to cause the crash. If we are using a

[2015-07-20 13:15] harkin commented on #106
@gennadiiivanov I've spent some time profiling the library on our Samsung S5. I haven't come across any memory leaks or  situations where we're holding onto an unreasonable amount of memory over a long period of time etc. Have you found anything?

[2015-07-20 13:38] gennadiiivanov commented on #107
@DaleCantwell we are not able to replicate the issue in house. We can profile the memory usage in the app and see if your library uses abnormally high amount of memory. But I need some time for this because this is not the highest priority task for my team now.

[2015-07-20 13:42] gennadiiivanov commented on #106
@harkin we didn't have a time to work on this problem yet. Can you just put a simple try/catch into your code?
It is interesting that crash is happening only on Android 5. Maybe the library (retrofit) update will solve a problem?

[2015-07-20 14:23] harkin commented on #106
Update this issue when you do and we can work from there to find a solution.

I'd rather not drop try/catch blocks around without understanding the cause of the problem. It's a bandaid, not a fix to the problem. I'd wager a new crash would show up somewhere else almost immediately.

Retrofit is a java library, it doesn't have any reliance on android. I'd be very willing to believe that there's som

[2015-07-20 14:31] gennadiiivanov commented on #106
I am pretty sure it happens because of it. We have around 35% of Android 5 users and it happens only for them.
My question is: why it happens only inside this call stack.
Looks like you are trying to parse memory heavy response from API, right? In this case it makes sense to have an exception catch since you don't know how OutOfMemory exception is handled inside the third-party library (retrofit).

[2015-07-20 15:23] harkin commented on #106
The response is in most cases quite small, typically under 2kb (your milage may very depending on how many messages you send through Intercom and how often your users read them).

I don't know much about the innards of Retrofit but here's what I'm seeing when I look through the source. Retrofit throws an [IllegalStateException here](https://github.com/square/retrofit/blob/2f4caa6f5df8e7f47a881266b

[2015-07-20 15:39] gennadiiivanov commented on #106
Yes, it happens exclusively on Samsung S5. And feels like this.

It is a standard situation. It happens when device performs a lot of image or video processing operations (especially in background). The solution is to correctly handle this case. We handle this in the app by listening specific `onLowMemory` application call back and all the `OutOfMemory` exceptions and clearing the memory in this c

[2015-07-20 19:35] behzodbek commented on #109
https://www.dropbox.com/s/4jikksr8p871g27/device-2015-07-21-002318.mp4?dl=0
1. Send message to user though Intercom.
2. Open App and click PhotoView - open conversation.
3. Close it.
4. Send new message through the Intercom. There is not any update on App screen. Any notification about new message. The PhotoView does not appearing.
5. Reopen app again. PhotoView tells that there is a new message 2

[2015-07-20 19:45] behzodbek commented on #110
@DaleCantwell could you clarify please?
Do you mean like that?
SplashActivity.java
...
Uri uri = getIntent().getData();
Intent intent = new Intent(this, MainActivity.class);
intent.setData(uri);
startActivity(intent);
...

MainActivity.java
...
 Intercom.client().openGCMMessage(getIntent().getData());
...
I think it useless. It is no matter where we register it. There is same url.

If you meant an

[2015-07-21 16:22] gennadiiivanov commented on #108
@DaleCantwell , when do you plan to release this fix? I'd like to include it into the update of the app.

[2015-07-21 16:25] gennadiiivanov commented on #106
@harkin we did a memory profiling and couldn't find anything abnormal in the app. There are some memory spikes in the app but this is an expected behavior and we correctly handle this case. I think we should let client apps take care about these cases and assume that memory is managed correctly inside the Intercom library.

[2015-07-22 13:47] fschramm001 opened #111 "Custom Chat GUI"
Hi,

is it possible to handle the intercom chat in a custom gui? We want to style the intercom chat like facebook messenger.

Cheers,
Flo

[2015-07-22 14:13] adamkmccarthy commented on #111
Hi @fschramm001. Unfortunately we don't offer the flexibility to style the UI in the manner you're looking for at the moment. We may look into this in the future though, if we do you'll hear about it here first. Thanks!

[2015-07-22 14:13] #111 closed

[2015-07-22 14:54] fschramm001 commented on #111
Hi, thanks for your fast reply. Just publish your sdk ;-)

[2015-07-23 08:59] harkin commented on #109
@behzodbek Learn Pro and Support Pro are the two packages in Intercom that include real time messaging. You need to be on one of those packages to get instant message delivery in app.

We're currently working on achieving a better delivery time for anyone using this library that isn't on a package that has real time messaging

[2015-07-23 09:15] harkin commented on #106
I've made some tweaks to ensure our memory footprint stays as low as possible and we're running tests and QA at the moment and we'll be releasing a new version once we're happy with it. None of these changes are going to help if an app is using 98+% of the available memory though. In those extraordinary circumstances something is going to break.

[2015-07-23 09:19] harkin commented on #50
Quick update, we're working on this.

We're going to repackage all our dependencies except the play services and support libs. All going well our next release will have this change

[2015-07-23 13:57] adamkmccarthy commented on #108
Hi @gennadiiivanov, we're planning on doing a point release next Monday (27th August).

[2015-07-24 08:26] DaleCantwell commented on #107
@gennadiiivanov we are releasing a version an update on Monday (24th July 2015) that includes a fix for this issue. If the font can't be loaded we will return to the system default.

[2015-07-24 13:09] gennadiiivanov commented on #107
thanks @DaleCantwell

[2015-07-24 15:59] hvisser opened #112 "Control SDK logging"
The SDK outputs a lot of logging which is useful during development, but not in a release build. I'd prefer it if the Intercom SDK would use the standard method of controlling log out put using `adb setprop log.tag.Intercom-Android VERBOSE` and to have some mechanism to turn of all SDK logging on release builds.

[2015-07-24 17:40] harkin commented on #112
Yes! This is on our roadmap but isn't something we'll be working on in the immediate future. I'll update this issue once we have a better idea of when it'll happen.

[2015-07-27 14:09] harkin commented on #50
From v1.1.3 onwards all our dependencies except play services and support libs are repackaged. Glad to finally be able to close this :)

[2015-07-27 14:09] #50 closed

[2015-07-27 14:09] harkin commented on #106
v1.1.3 is up now

[2015-07-27 14:09] #106 closed

[2015-07-27 14:09] harkin commented on #107
v1.1.3 is live and will solve this

[2015-07-27 14:09] #107 closed

[2015-07-27 14:09] harkin commented on #108
v1.1.3 is live and will solve this

[2015-07-27 14:09] #108 closed

[2015-07-27 14:10] harkin commented on #109
v1.1.3 is live and will improve this for you

[2015-07-27 14:10] #109 closed

[2015-07-27 14:17] DaleCantwell commented on #110
@behzodbek I have tested this successfully here. If on your splash screen calling Intercom.client().openGCMMessage(getIntent().getData()) works but draws intercom over your splashscreen. Somewhere in your code you will make an intent to move from your splashscreen to your mainactivity. I would debug that intent to make sure that setting the intent data has worked there.
If it has then we know that

[2015-07-28 16:19] mauricegavin commented on #50
This is a really welcome feature. Thanks.

[2015-07-30 12:45] gennadiiivanov opened #113 "Index out of bounds exception being thrown"
[code]

Happens on the latest 1.1.3 version

[2015-08-01 18:03] sirvon opened #114 "open composer as fragment?"
is it currently possible to open this...

[code]

as a fragment?

I would like to combine this view with other views in one screen...

thanks

[2015-08-03 22:29] mbernier85 opened #115 "Intercom library import creates duplicates in our code"
There is currently an issue with the way library like okhttp were imported into this Intercom library. Seems like the code was copy pasted, instead of being a gradle requirement.

It's currently creating duplicate source code, creating issues with versions of libs and going over the 64k method limit

https://www.contentful.com/blog/2014/10/30/android-and-the-dex-64k-methods-limit/

For now, progua

[2015-08-03 22:33] mbernier85 opened #116 "Android M permission for android.permission.SYSTEM_ALERT_WINDOW"
I don't know when you plan on testing Android M, but we wanted to test it on our app, but it seems like your Lib is asking for a permission, which I added in the AndroidManifest

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission-sdk-m android:name="android.permission.SYSTEM_ALERT_WINDOW" />

For some reason, it's still not working. Here is the crash

[2015-08-04 09:29] harkin commented on #114
That's not currently possible I'm afraid. You aren't the first to ask about it though and we're thinking about it a lot internally.

[2015-08-04 09:29] #114 closed

[2015-08-04 09:49] harkin commented on #116
Weird, that is the permission we ask for. We'll be testing M soon, I'll update this issue when we know more about why it doesn't work

[2015-08-04 11:11] harkin commented on #115
As of the latest release we namespace all our dependencies. We had an open issue regarding [3rd part dependencies](https://github.com/intercom/intercom-android/issues/50) for this that might provide more context. The conclusion we came to was that it would be better to namespace our dependencies so that there aren't any problems with versioning between our library and the app it's in. We're using

[2015-08-04 12:03] anshul90 opened #117 "API failed error"
Hi,

I'm using intercom in 2 different projects. One project is even live and it doesn't have any problem. But another project has so many problems if I implement anything I always get error in my logcat of API FAILED ERROR.

Can you please tell me why I'm getting this?

Thanks.
Anshul Tyagi

[2015-08-04 12:11] harkin commented on #117
We try to print out whatever response we get from our servers detailing why a call to our API might have failed. If you aren't seeing any additional information in logcat then that typically means that there is an issue connecting to the server.

Are you using any kind of proxy to intercept traffic on that device?

[2015-08-04 12:59] harkin commented on #113
Thanks for letting us know about this, I'm looking into why this is happening now

[2015-08-04 13:56] mbernier85 commented on #115
I was using 1.0.3, so I was having version conflict, so I updated the lib I was using, now with your new version, I'am over the 64k limit, which is even worst.

I don't think you should include any lib as jar, especially stuff like okhttp, which is already in our app, it's duplicating stuff.

Other lib do this: offer the option to use Volley, or okhttp, or just use HttpUrlConnection when both not

[2015-08-04 14:25] harkin commented on #115
The reason we namespaced those libraries was to avoid version conflicts like you encountered. We feel between increasing the method count and providing consistent, reliable behaviour independent of what libraries an app chooses to use was worth the tradeoff there.

For now it's unlikely that'll offer two versions of the library. We also have no plans to support Volley in any way nor to make our ow

[2015-08-05 04:01] anshul90 commented on #117
Yes, I have implemented Twilio service in my app to get incoming fby using background service. I don't have any problem with Twilio service. It works fine if I don't integrate intercom in my project. As I integrate it, my logcat starts giving me error of intercom API failed and

pjsua_acc.c ....SIP registration failed, status=302 (Moved Temporarily)
 pjsua_acc.c .....Unable to create/send REGISTER

[2015-08-05 08:45] harkin commented on #117
I'm not terribly familiar with the Twilio SDK; does Intercom work correctly when you aren't depending on Twilio?

[2015-08-05 08:47] anshul90 commented on #117
Actually, it doesn't. I cannot send sms via SMS. Is it any facility you provide?

[2015-08-05 08:57] harkin commented on #117
No, Intercom doesn't doesn't have any feature like that or that would interfere with that

[2015-08-05 09:01] anshul90 commented on #117
Can you please tell me the issue of API failed btw?

[2015-08-05 09:47] harkin commented on #117
The issue there is that network requests from the Intercom library aren't getting to our server. This could be because of a poor internet connection, lack of internet connection, some intermediary proxy etc. I'd suggest creating a new app and just following the [installation guide](http://docs.intercom.io/Install-on-your-mobile-product/installing-intercom-for-android) to see if it works there, or

[2015-08-05 09:48] anshul90 commented on #117
ok thanks Harkin.

[2015-08-07 16:33] sumit1294 opened #118 "E/AndroidRuntime﹕ FATAL EXCEPTION: OkHttp Dispatcher"
My app is crashing because of the following error.

[code]

I am not able to identify this issue. Is anyone else facing the this issue?

I am using following libraries in my gradle file.
[code]

[2015-08-07 16:52] harkin commented on #118
v1.0.0 of the Intercom library had these dependencies:
[code]

You've got the wrong version of okhttp-ws and okhttp there. I'd recommend updating to the latest version, we've repackaged dependencies (excluding the play services lib) so you won't need to worry about our library relies on

[2015-08-07 16:52] #118 closed

[2015-08-11 11:29] harkin commented on #117
@anshul90 follow up here we were talking through Intercom too, did you get this sorted?

[2015-08-11 11:29] harkin commented on #115
Gonna close this out, we aren't likely to go back on this decision without some -very- compelling reasons

[2015-08-11 11:29] #115 closed

[2015-08-11 12:21] anshul90 commented on #117
Yea @harkin , I sorted out that. The problem was in the targetSDKVersion of Manifest.xml.

[2015-08-11 12:35] harkin commented on #117
ah, that's great to know incase we see this again, thanks!

[2015-08-11 12:35] #117 closed

[2015-08-11 14:24] AndrejLukasevic opened #119 "ConcurrentModificationException"
java.util.ConcurrentModificationException
       at java.util.ArrayList$ArrayListIterator.next(ArrayList.java:573)
       at io.intercom.android.nexus.NexusClient.fire(NexusClient.java:68)
       at io.intercom.android.nexus.NexusClient$1.run(NexusClient.java:119)
       at android.os.Handler.handleCallback(Handler.java:733)
       at android.os.Handler.dispatchMessage(Handler.java:95)
       at a

[2015-08-11 14:32] harkin commented on #119
@AndrejLukasevic what version of the library are you using?

[2015-08-13 01:18] jfsso commented on #119
We've been observing this on our app too. We're using SDK 1.1.3. The frequency is not high: so far 1 crash/user out of thousands of users.

[code]

@harkin I can also share the crashlytics issue with all threads dump with you in private. Let me know where I can send it.

[2015-08-14 15:39] harkin commented on #119
Thanks @jfsso I think the stack traces here are enough to pinpoint what's going wrong. The library is trying to close a connection as it's also firing an event down that connection and it doesn't like that :( We'll  investigate why this is happening

[2015-08-18 10:28] condesales commented on #116
Any news about this one?
I'll have to drop Intercom integration from my app for now in order to support android M..

[2015-08-18 18:59] mbernier85 commented on #116
Android 6.0 was officially launched with the SDK, do you have an estimated time when this will be fixed ?

[2015-08-18 23:03] mbernier85 commented on #116
Just tried android 6.0 SDK with Android preview 3, still the same issue

I think you might need to add Permission check for it to work correctly.

[2015-08-19 07:07] renard314 opened #120 "AssertionError in AppConfig.java"
Only happens sporadically and on Samsung Lollipop devices.

Library Version: 1.1.2

java.lang.AssertionError
       at com.google.gson.internal.bind.TypeAdapters$EnumTypeAdapter.<init>(TypeAdapters.java:733)
       at com.google.gson.internal.bind.TypeAdapters$26.create(TypeAdapters.java:759)
       at com.google.gson.Gson.getAdapter(Gson.java:359)
       at com.google.gson.internal.bind.TypeAdapt

[2015-08-19 12:52] condesales commented on #116
Well, thats a problem @mbernier85 since I don't use Intercom to create system alert windows.
I don't want to ask the user for a permission that the app will never user, makes no sense.

[2015-08-19 13:08] mbernier85 commented on #116
I didn't mean to say this to you, but the creator of Intercom SDK.

I don't use this feature too, and yet I still need the permission. They need to work on the way to initialize the Lib.

[2015-08-19 13:24] DaleCantwell commented on #116
@mbernier85 @condesales Thanks for feedback and for checking out the SDK with M. We will have a fully working Android Integration with M before it is released. Currently though as M is in preview we need to fully look into what changes we will need to make and what effects the new features will have on the SDK. Once we are satisfied that we are totally stable with M we will release an update. I un

[2015-08-20 01:12] hy9be opened #121 "Suggestion on signature of Intercom.client().logEvent"
Hi,
I suggest to change the signature from
``Intercom.client().logEvent(String tag, Map<String, Object> eventData)``
to
``Intercom.client().logEvent(String tag, Map<String, ?> eventData)``

So that the api can be integrated with any existing logging api (wrapped by a single method). For example, if some logging api need ``Map<String, String>`` as parameter, current signature creates big problem, b

[2015-08-20 10:12] DaleCantwell commented on #121
Hi @hy9be
Thanks for the feedback. We will look into this. I can see the use cases for it but we'll need to make sure we protect against any types that won't work with the API. I will let you know where we go with this. In the meantime to not hold up your development could you add your map to a Map<String, Object>. There are a few ways to do this, below is a very basic example.

[code]

[2015-08-20 10:16] DaleCantwell commented on #120
@renard314 thanks for letting us know about this issue and providing us with your error log. We will look into this and let you know what we find.
To help us reproduce this error, was it a range of Samsung phones or was there one device in particular?

[2015-08-20 10:30] renard314 commented on #120
Thanks for your quick reply. I've made the Fabric crashlog available http://crashes.to/s/1a6701b6e19.
It seems that it mostly happens on Samsung Galaxy S5.

[2015-08-20 14:10] hy9be commented on #121
@DaleCantwell
Thanks for the reply. I will try the way you showed.

[2015-08-21 02:05] renard314 opened #122 "Nullpointer Exception in CallbackHolder"
Link to Crashlytics report
http://crashes.to/s/dfbeff86706

[2015-08-21 02:06] renard314 opened #123 "AssertionError in AppConfig.java:121"
Library Version 1.1.12
http://crashes.to/s/9ae1270571d

[2015-08-24 09:13] harkin commented on #123
Going to close this out in favour of https://github.com/intercom/intercom-android/issues/120

It's the same issue, both of these stack traces point to places where we're using Gson to map something from JSON.

[2015-08-24 09:13] #123 closed

[2015-08-24 09:13] harkin commented on #120
http://crashes.to/s/9ae1270571d second trace of it happening in the app config

[2015-08-24 09:21] harkin commented on #120
Both of these are places we're using Gson to map something from json. Samsung doesn't like that :( I read something recently about a particular phone having a version of Gson bundled with it that causes issues. I'll try to find that source again and see if it is the S5. In the meantime switching to v1.1.3 will help if it is a 'the wrong gson is being loaded' issue

[2015-08-24 09:32] harkin commented on #120
@renard314 do you have proguard enabled in your app?

[2015-08-24 09:42] harkin commented on #122
What's happening here is that the response object generated from a successful (200) network request is (unexpectedly) null. I'll look into why this is happening; it could potentially be a problem with some backend code but I'm not confident that it is. It's curious that this has happened exclusively on rooted phones.

[2015-08-24 13:03] gennadiiivanov commented on #122
@harkin I have the same in 1.1.3 version: http://crashes.to/s/ebac0fb90b2 . This is the top crash that we have in the app.

[2015-08-24 13:05] gennadiiivanov opened #124 "AssertionError exception"
http://crashes.to/s/3b0d26bea3d

[2015-08-24 13:48] harkin commented on #120
http://crashes.to/s/3b0d26bea3d

[2015-08-24 13:49] harkin commented on #124
dupe of https://github.com/intercom/intercom-android/issues/120

[2015-08-24 13:49] #124 closed

[2015-08-24 13:57] harkin commented on #122
98% of those devices are rooted too. It's hard to imagine that being a coincidence.

@renard314 @gennadiiivanov  have either of you seen this been able to reproduce this yourself or could you contact a user that has been affected by this crash? Assuming that all these phones being rooted is relevant then the two things that spring to mind to me are a custom OS having some funky behaviour or, more

[2015-08-24 15:07] gennadiiivanov commented on #120
@harkin we don't have proguard enabled in the app but we have the same exception.

[2015-08-26 02:36] renard314 commented on #122
I have not been able to reproduce and the crash unfortunately.

[2015-08-26 03:03] renard314 commented on #120
I don't have proguard enabled.

[2015-08-26 12:53] gennadiiivanov commented on #122
@harkin I haven't been able to reproduce it as well.

[2015-08-26 15:52] harkin commented on #116
Quick update: I'm investigating this

The short of it is that the permission we request, `android.permission.SYSTEM_ALERT_WINDOW`, cannot be asked for programatically in Marshmallow and instead the user has to enable it in some settings menu. We're looking into alternative strategies

[2015-08-27 13:12] condesales commented on #116
@harkin what do you mean by

?

The only way I can see this working is the library checking the permissions and catching the exceptions android might throw.
Also under Intercom docs you need to add a section about it, telling the developers that in order to X feature to work they need to request Y permission using the new permission SDK

¯\_(ツ)_/¯

[2015-08-27 14:26] harkin commented on #116
@condesales I mean that if you try to request that permission by doing
`requestPermissions(new String[]{Manifest.permission.SYSTEM_ALERT_WINDOW}, 1234);`
then the user isn't even shown a dialog, instead `onRequestPermissionResult` is called with whatever the value of the toggle in settings is for that app.

We are going to check for permissions in the library where appropriate. The issue here for

[2015-08-27 21:08] cazador4 opened #125 "java.lang.RuntimeException: An error occured while executing doInBackground()"
Hi, I put this method "private void registerInBackground()" like it recommend here: http://docs.intercom.io/Install-on-your-mobile-product/using-google-cloud-messaging-gcm-with-intercom-for-android

any idea?

java.lang.RuntimeException: An error occured while executing doInBackground()
	at android.os.AsyncTask$3.done(AsyncTask.java:300)
	at java.util.concurrent.FutureTask.finishCompletion(FutureT

[2015-08-27 21:25] cazador4 commented on #119
Same error here. SDK 1.0.0
The frecuency is not high also.

Thanks!

[2015-08-28 00:59] jfsso opened #126 "Request: do not include dependencies in the library"
It came to my attention that the Intercom Android SDK is unnecessarily adding a huge amount of method references. With a further look at the SDK package, I saw that you include dependencies into the library package, with 2 thirds of method references of the lib being taken up by those. As you may already be aware of, every method reference is worth saving to keep the app under that [65K reference

[2015-08-28 03:48] renard314 commented on #122
another occurrence in 1.1.3. This time the phone is not rooted
http://crashes.to/s/5db406e914d

[2015-08-28 06:19] renard314 commented on #122
Another crash that might be related. This one is in LightBoxActivity
http://crashes.to/s/ddc4ceb8f9e

[2015-08-28 06:21] renard314 commented on #120
Another crash that looks related. This time in library 1.1.3
http://crashes.to/s/37c7c086b9b

[2015-08-28 10:01] harkin commented on #125
That example is just to show how to run it in the background. It doesn't matter what method you use as long as it's not happening on the UI thread.

I've never come across that error before (not a fan of asynctasks personally). It looks like maybe you're executing the asynctask on a background thread that hasn't prepared it's looper? If you're already on a background thread then you don't really n

[2015-08-28 10:01] #125 closed

[2015-08-28 11:52] harkin commented on #126
We had an open issue for this that might provide more context on why we decided to do this, [issue](https://github.com/intercom/intercom-android/issues/50)

There's a tradeoff between having a potentially smaller dex footprint and having reliable behaviour independent of what libraries someone using Intercom might want to use. I say potentially because not all apps do use the same stack we do. Ion

[2015-08-28 11:52] #126 closed

[2015-08-31 05:39] dzeikei opened #127 "SecureRandom crashes on some devices"
This link has the fix:
http://android-developers.blogspot.com.au/2013/08/some-securerandom-thoughts.html

[code]

[2015-08-31 09:21] harkin commented on #127
Thanks for letting us know about this.

We aren't using `SecureRandom` directly in this library. This crash came from the websockets library we're using `[okhttp-ws](https://github.com/square/okhttp/blob/master/okhttp-ws/src/main/java/com/squareup/okhttp/ws/WebSocketCall.java#L56)`. I'm a little hesitant to open an issue on their repo for a crash I can't reproduce myself.

Do you have any figures

[2015-09-02 06:43] dzeikei commented on #127
Our crashlogs indicate that it has happened on 3 devices so far:
Sony C6903 (Experia Z1) on 5.0.2
Sony D5503 (Experia Z1 Compact) on 5.0.2
LG D855 (G3) on 5.0

We can just apply the PRNG fix on our Application class to initialise it properly on our app.

[2015-09-02 14:45] elikohen opened #128 "Permission crash when launching on android 23 device (6.0)"
We just tested compiling our app (with intercom included) over android 23, everything worked fine on 22 or below devices but when running on android 23 emulator we got this crash:

[code]

[2015-09-02 14:48] harkin commented on #128
Thanks for reporting this!

This is a dupe of https://github.com/intercom/intercom-android/issues/116 there's more context on that issue so I'm going to close this and update that issue

I'm actively working on fixing this and other permission issues, I expect to have a release that works on M in the next day or two

[2015-09-02 14:48] #128 closed

[2015-09-02 14:49] elikohen commented on #128
Wow, sorry about that, i didn't see that one. Thanks for the info!

[2015-09-02 14:54] gennadiiivanov commented on #122
@harkin what is the status of this issue? When do you plan to fix and release it?

[2015-09-02 14:55] gennadiiivanov commented on #120
@harkin what is the status of this issue? When do you plan to fix and release it?

[2015-09-02 15:10] timemarkov opened #129 "Call Of Intercom.initialize(...) method on Android crash"
I need help with initialize of Intercom on Android platform. I have Android C++ Qt\QML application and want to use your service. I include intercom-sdk-base-classes.jar in my project and when call method  Intercom.initialize(...) the application crash. Can you provide to me jars which I need to put in my project (dependency for intercom-sdk-base-classes.jar).

[2015-09-02 15:18] harkin commented on #129
I'm not familiar with that kind of setup for an Android app.

If you can specify dependencies using gradle or maven that's the ideal situation where it's easy for you to update them.

Next best is if you can include a `.aar` dependency. It's not ideal but not a great deal of effort.

If your only option is using `.jars` then it's more involved

@timemarkov let me know how you can include dependenc

[2015-09-02 15:21] timemarkov commented on #129
I need only to put jars from which depends  intercom-sdk-base-classes.jar  in one libs folder. That is all I need to do. Only I need the jars if you have or give me link from where I can download

[2015-09-02 15:27] harkin commented on #129
In that case you can find the jars you need here: https://github.com/intercom/intercom-android/tree/master/jar/intercom-sdk-base/libs

I'd suggest taking both and removing the one you currently use. We've made some changes to how we package dependencies recently so you'll want the base-classes jar that matches the packaged dependencies.

If you're planning to target Android Marshmallow with your a

[2015-09-02 15:59] timemarkov commented on #129
I put that jar in libs folder but application still crash. Does that jar is only dependency?

[2015-09-02 16:24] harkin commented on #116
I've updated the library and fixed this issue and another permissions related crash for attachments. We're starting a QA run for the library on Marshmallow to make sure there aren't any surprises. If that goes well we'll release the next version

[2015-09-02 16:24] harkin commented on #129
Yes that jar is the only dependency you'll need. Do you have a stacktrace of the crash?

[2015-09-02 16:27] timemarkov commented on #129
@harkin Here is trace:

W/Qt A11Y ( 9255): Could not activate platform accessibility.
D/AndroidRuntime( 9255): Shutting down VM
W/dalvikvm( 9255): threadid=1: thread exiting with uncaught exception (group=0x41765e48)
E/AndroidRuntime( 9255): FATAL EXCEPTION: main
E/AndroidRuntime( 9255): Process: com.groupsinc.android.cincofit, PID: 9255
E/AndroidRuntime( 9255): java.lang.RuntimeException: Unable

[2015-09-02 16:35] harkin commented on #122
I'm thoroughly confused about how a device being rooted makes it *much* more likely to encounter this and somewhat concerned about that but I can't find any answers there.

@renard314 that crash you saw in the LightBoxActivity came from someone running your app on the 'Full Android On Emulator'. I've seen this before and suspect someone launched the LightBoxActivity directly and didn't navigate to

[2015-09-02 16:45] harkin commented on #129
I'm pretty sure it does exist, it's in the same jar as Intercom so if you're calling initialize it should be there.

Is there some kind of [manifest merger](http://tools.android.com/tech-docs/new-build-system/user-guide/manifest-merger) in your toolchain? I've a hunch that the service isn't being correctly added to your `AndroidManifest.xml` file.

The things that should end up in your manifest ca

[2015-09-02 16:47] harkin commented on #120
I'll be working on this tomorrow hopefully, no ETA for a fix but I'm hopeful that I'll find the cause of this before we finish our Marshmallow QA run so we can bundle the fix in with that update

[2015-09-02 17:31] timemarkov commented on #129
@harkin I have update as you suggest. Now still have crash with follow logs:

W/dalvikvm(12694): threadid=1: thread exiting with uncaught exception (group=0x41765e48)
E/AndroidRuntime(12694): FATAL EXCEPTION: main
E/AndroidRuntime(12694): Process: com.groupsinc.android.macfitomur, PID: 12694
E/AndroidRuntime(12694): java.lang.NoClassDefFoundError: io.intercom.android.sdk.R$color
E/AndroidRuntime(1

[2015-09-02 17:41] timemarkov commented on #129
@harkin Also can you give some instruction about which resources need (does it is need to be added?) to be added (or jars are enough) in project? As i can see from log have problem with color:

E/AndroidRuntime(12694): java.lang.NoClassDefFoundError: io.intercom.android.sdk.R$color

Thanks in advance

[2015-09-02 17:44] harkin commented on #129
Ah right you haven't grabbed any assets or other things. To get the library working correctly you'll need to include the assets and resources found [here](https://github.com/intercom/intercom-android/tree/master/jar/intercom-sdk-base).

If you plan to use proguard you'll also need to include the proguard file found there

[2015-09-02 23:03] danpe commented on #61
:+1:  I'm also having this on Android Studio with Intercom 1.3.1

[2015-09-02 23:13] danpe opened #130 "java.lang.NoClassDefFoundError: io.intercom.android.sdk.R$drawable"
I'm getting the following with the new 1.1.3 sdk version.

[code]

my build.gradle:

[code]

[2015-09-03 08:27] harkin commented on #130
@danpe What devices and OS versions are you seeing this on? Can you reproduce it reliably?

[2015-09-03 08:30] harkin commented on #130
It's possibly relevant that you aren't using the [support multidex library](https://developer.android.com/tools/building/multidex.html) so you'll experience weird bugs on pre lollipop devices if you've crossed the 65k method limit. (You'll need to extend/use the `MultiDexApplication` too)

[2015-09-03 08:32] harkin commented on #130
Also pertinent v1.1.3 of the library has some permission bugs on M. I'm working on fixes (we're going through QA now) and there are more details in this issue https://github.com/intercom/intercom-android/issues/116

I doubt that's the problem here though since you aren't getting a security exception

[2015-09-03 11:34] danpe commented on #130
Hey herkin,
You were right it was because of the 65k method limit.
using  support multidex library solved it :)
Thanks !

[2015-09-03 11:34] #130 closed

[2015-09-03 14:22] harkin commented on #120
Two things I've found about this:
* every other report on stackoverflow etc is related to proguard obfuscation
* lollipop on the S5 has a _really_ dodgy implementation of ART

[2015-09-03 14:31] gennadiiivanov commented on #120
@harkin we are not using proguard and we have the same crash. We are using multidex.

[2015-09-03 14:35] harkin commented on #120
I wonder if multidexing does some renaming/obfuscation of classes as part of how it operates. I'll look into this next. Are you also multidexing your app @renard314?

[2015-09-03 14:42] renard314 commented on #120
No we are not using it. Have you considered catching that exception and sending the logs/raw json back to GA or some other reporting service for analysis?

[2015-09-03 15:41] harkin commented on #120
Very much considering catching the exception here and having a smart fallback. It's not a solution I like overly much but this _seems_ to be a very particular Samsung issue.

We have very limited options for reporting these things from the library. We don't want to include something like GA or Fabric or other analytics services in there because that would inflate the library size significantly (in

[2015-09-04 11:27] harkin commented on #129
Gonna close this out for now, let me know if you're still having trouble setting this up and we can reopen the issue

[2015-09-04 11:59] harkin commented on #127
I think doing this on an app by app basis is the best move.

I'm don't think that installing a new PRNG would be good behaviour for this library

[2015-09-07 08:13] yashwanthsandeep opened #131 "NullPointerException - context looks to be null in startChatHeadService"
After adding this in my Application class it crashes with NPE.
Intercom.initialize(this, "android_sdk-cc81315c533813afde2aba0414a0ebe0a987be9e", "sgmjau0c");

Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Context.getPackageName()' on a null object reference
            at android.content.ComponentName.<init>(ComponentName.java:77)

[2015-09-07 08:43] harkin commented on #131
@yashwanthsandeep what version of the library are you seeing this on?

[2015-09-07 09:26] froxCZ opened #132 "Unable to create service io.intercom.android.sdk.preview.PreviewService: java.lang.RuntimeException: Adding window failed"
Hi,
after implementing intercom to our Android app we found this crash in our crash reports. It occured on HTC Sensation 4G with intercom 1.1.3 and Android 4.0.3. No intercom message or announcement was sent to that device. Would you have any idea why this crash happened and how to prevent this?

Thanks

[code]

[2015-09-08 02:43] yashwanthsandeep commented on #131
@harkin
Hi,
io.intercom.android:intercom-sdk:1.0.0@aar

[2015-09-08 18:05] harkin commented on #131
That's an old version of the library, I'd suggest upgrading to v1.1.3

That crash seems to indicate that your app hit the `onStart` of an activity before it had a valid context set on it. Are you using the standard `Activity` or some other version of it, are you doing anything unusual like calling `onStart` directly?

[2015-09-09 10:42] hvisser commented on #116
What is the status of this bug? We are prepping our app for the M launch and this issue is blocking us.

[2015-09-09 15:26] harkin commented on #116
@hvisser @mbernier85 @condesales thanks for your patience with this

We have a release candidate ready now that addresses these marshmallow issues. If you could get in contact with us at team@intercom.io we can get you set up with it

[2015-09-15 08:06] timemarkov commented on #129
Hello,

Finnaly I success to integrate but found one issue. When android:versionCode in my AndoridManfest.xml file is different from 1 call of itercom initialize method return follow error:

E/AndroidRuntime( 9735): Caused by: java.lang.IllegalArgumentException: Component class io.intercom.android.sdk.preview.PreviewService does not exist in com.groupsinc.android.goldsgymbedford
Please can you giv

[2015-09-16 08:59] renard314 opened #133 "ConcurrentModificationException in NexusClient"
http://crashes.to/s/ae51e3f7b58

Library Version: 1.1.3

[2015-09-16 10:58] DaleCantwell commented on #132
There are a few potential causes. Are you using Android Studio? Have you been able to reproduce this in house? If so would you mind trying out our sample application here:
https://github.com/intercom/intercom-android/tree/master/samples/intercom-androidstudio-sample
You will need to change values in MainActivity and SampleApplication once you download it. It would be interesting to see if this iss

[2015-09-16 11:00] DaleCantwell commented on #133
@renard314 thank you for reporting that issue, we have encountered that issue ourselves and are looking into solutions. I'll post any updated to this thread.
It should be very infrequent but let me know if you are seeing this often.

[2015-09-16 11:03] renard314 commented on #133
Thank you for the heads up. Its indeed happening very rarely.

[2015-09-17 05:14] renard314 commented on #120
I understand. Would you please consider releasing a hot fix for this crash?  Even just swallowing the exception would be better than crashing and bringing down the client app.
Its by far the most often occurring crash on crashlytics for us.

[2015-09-17 09:28] DaleCantwell commented on #120
@renard314 The next version that ships (targeting this week) will consume those GSON errors, I'll follow up on this to see if we can figure out  a better solution here. Let me know if you are ever able to reproduce this in house. We could gather a lot more information if we could reproduce the issue.

[2015-09-18 14:39] DaleCantwell commented on #35
I am going to close out this issue for the time being. Not being able to initialize Intercom from a background thread will remain on our internal feature request backlog but its not something we plan on tackling for the time being.
Thank you for pointing out the RuntimeException, we will add this as a known limitation to our Github.

[2015-09-18 14:39] #35 closed

[2015-09-21 12:36] harkin commented on #113
this is fixed in the latest version

[2015-09-21 12:36] #113 closed

[2015-09-21 12:37] harkin commented on #120
this is fixed in the latest version

[2015-09-21 12:37] #120 closed

[2015-09-21 12:39] harkin commented on #121
We changed this in the latest version :+1:

[2015-09-21 12:39] #121 closed

[2015-09-21 12:39] harkin commented on #122
We're checking for these nulls in the latest version :+1:

[2015-09-21 12:39] #122 closed

[2015-09-21 12:40] harkin commented on #116
We've released 1.1.4 with support for M

[2015-09-21 12:40] #116 closed

[2015-09-21 12:41] harkin commented on #133
this looks to be a dupe of https://github.com/intercom/intercom-android/issues/119. I'm going to be looking into why this is happening soon

[2015-09-21 12:41] #133 closed

[2015-09-21 12:42] harkin commented on #119
http://crashes.to/s/ae51e3f7b58 crash report
I'm looking into this one now

[2015-09-21 13:01] condesales commented on #116
Thank you guys!

[2015-09-21 17:12] hy9be commented on #121
Thanks a lot!

[2015-09-22 03:38] linghp commented on #67
how to resolved

[2015-09-22 09:48] DaleCantwell commented on #67
@linghp are you seeing this issue in our logs? If so what SDK version are you running?

[2015-09-22 10:55] DaleCantwell commented on #127
@dzeikei thanks again for raising this issue. As @harkin said we think this is best implemented on an app by app basis so for the time being we won't be making a code change to the Android integration. I'm going to close this issue for now but if you keep encountering this it may be worth opening this issue against https://github.com/square/okhttp. I looked at their issue tracker and it doesn't lo

[2015-09-22 10:55] #127 closed

[2015-09-22 11:07] DaleCantwell commented on #129
@timemarkov Could I get you to send on your AndroidManifest.xml? If you'd rather not share it on github feel free to message us on intercom.io, mention me (@DaleCantwell) in the subject or somewhere in the issue and our team will assign it to me.
As I have never built an Android app using C++ in Qt we may need some back and forth to get to solve this problem so a private conversation in Intercom m

[2015-09-22 15:40] timemarkov commented on #129
<?xml version="1.0"?>
<manifest package="com.groupsinc.android.cincofit" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.5.3" android:versionCode="1" android:installLocation="auto">
    <application android:hardwareAccelerated="true" android:name="com.groupsinc.MainApplication" android:label="CINCOfit" android:icon="@drawable/ic_launcher" android:screenOrientation

[2015-09-22 15:42] timemarkov commented on #129
Hello Dale,
Please can you write mail and I will send to you. I can not attach here.
Best Regards,
Time

[2015-09-22 16:26] DaleCantwell commented on #129
@timemarkov if you go to https://www.intercom.io/ and click the in app messenger at the bottom right you can write into the intercom team. I think that will be the best way for us to gather the most information on this bug.

[2015-09-23 11:31] DaleCantwell commented on #105
Fixed in v1.1.5

[2015-09-23 11:31] #105 closed

[2015-09-23 11:32] DaleCantwell commented on #110
Fixed in v1.1.5 using new method openGCMMessage(Intent, TaskStackBuilder);

[2015-09-23 11:32] #110 closed

[2015-09-23 11:34] DaleCantwell commented on #112
Added in v1.1.5 using method Intercom.setLogLevel(IntercomLogger.VERBOSE); Other IntercomLogger levels are
    VERBOSE
    DEBUG
    INFO
    WARN
    ERROR
    ASSERT
    DISABLED
Default level is WARN

[2015-09-23 11:34] #112 closed

[2015-09-23 12:00] DaleCantwell commented on #119
We fixed this issue in v1.1.5. Please contact us if you see any regressions.

[2015-09-23 12:00] #119 closed

[2015-09-23 12:01] harkin commented on #131
@yashwanthsandeep going to close this out for now, if you have any updates please reopen the issue

[2015-09-23 12:01] #131 closed

[2015-09-23 12:03] harkin commented on #132
@froxCZ is the HTC sensation 4G the only phone you've seen this on?

[2015-09-23 14:28] Mathbl opened #134 "NoClassDefFoundError: Failed resolution of: Lio/intercom/android/commons/utilities/DeviceUtils"
I have this stack after upgrading to 1.1.5. It seems to happen when debugging only.

[code]

[2015-09-23 14:38] harkin commented on #134
Looks like a library didn't get namespaced correctly, I'm investigating our build scripts now to see what went wrong. We'll hotfix this very quickly

[2015-09-23 14:41] Mathbl commented on #134
Good, I revert to 1.1.4 for now. Keep in touch.

[2015-09-23 15:20] harkin commented on #134
Yeah it was an improperly configured build script. 1.1.6 is on the way, within the next 10 minutes

[2015-09-23 15:35] harkin commented on #134
1.1.6 is out now and will fix this for you

[2015-09-23 15:35] #134 closed

[2015-09-23 15:55] Mathbl commented on #134
:+1:

[2015-09-23 19:04] ntoskrnl commented on #105
Thank you! We will try! :+1:

[2015-09-24 12:59] DaleCantwell commented on #129
@timemarkov I had a look over your manifest file. It looks like in Qt you use a line like this
<uses-sdk android:minSdkVersion="11"/>
Could you try use this instead
<uses-sdk android:minSdkVersion="9"/>
Just to see if it works? I understand this may cause issues in the rest of your app as you wish to target 11 but I would be interested to see if this is a manifest merger issue.

[2015-10-01 08:55] jfsso commented on #126
Thanks for taking the time and writing this long response, but I'm not convinced. If some app developers are not maintaining their dependencies well, it shouldn't mean that all other developers have to be penalized for that.

There should be other approaches to this problem. If some developers really want this you can make your build scripts to generate a fat-jar for them, but not for everyone. Se

[2015-10-02 16:46] harkin commented on #132
I haven't been able to reproduce this on a HTC Sensation but I changing how previews (smarter, better, faster) work so this will soon be a non-issue.

[2015-10-03 18:22] axay opened #135 "Null pointer exception"
I removed intercom from my build.gradle file but it's still crashing my app when I enable proguard. What am I missing ? Here is the stack trace.
[code]

[2015-10-03 19:05] harkin commented on #135
@axay That doesn't make sense. If the library isn't included it can't crash. It must be still included in your build somehow. Have you cleaned and rebuilt your project?

No line numbers make this a little harder to see exactly where it's breaking, I suspect it's not picking up the R values for the library. Is it only crashing when you have proguard enabled? Have you tried updating the version of t

[2015-10-04 04:08] axay commented on #135
ok looks like I was using a library which had intercom as a transitive dependency.

[2015-10-04 04:08] #135 closed

[2015-10-04 09:15] harkin commented on #135
@axay put of curiosity which library was that?

[2015-10-04 14:12] axay commented on #135
It was some analytics library developed by the team here which is kind of an abstraction over GA, mixpanel, intercom, flurry and answers.

[2015-10-08 05:56] AndrejLukasevic opened #136 "Multiple Intercom threads"
Hi, i have noticed, in Crashlytics, that i have a huge amount of threads ~300. Most of them created by intercom.
Is it ok?
I think that it makes OutOfMemoryError be thrown more often because of it
![thrads problem](https://cloud.githubusercontent.com/assets/5744352/10358749/29fc0bd0-6d9a-11e5-8c8f-0113606806fc.PNG)
Version 1.1.2

[2015-10-08 08:08] jfsso opened #137 "NPE in FileUtils#getPath"
We've been observing a few occurrences of this crash over the past few weeks. Also happened in SDK 1.1.7.

[code]

[2015-10-08 10:49] DaleCantwell commented on #137
Hi @jfsso,
Can you reproduce this in house? Do you have any specific devices so we can try reproduce this ourselves.

[2015-10-08 11:01] DaleCantwell commented on #136
@AndrejLukasevic that doesn't look correct. I would recommend updating to 1.1.7 but either way 1.1.2 shouldn't be generating that number of threads.
There are a few possibilities I can think of. We will need to get more information about your Intercom integration. I've just pinged you in intercom so we can talk there. Once we have a resolution we can update this public issue without any of your pr

[2015-10-08 13:35] AndrejLukasevic commented on #136
Here a link to crashlytics: http://crashes.to/s/db7f414fb52
As you can see there was crash, when user tried to open intercom chat window. And it crashed because of android.os.TransactionTooLargeException.

But lets focus on those Threads. As you can see there is a lot of them.

I am using retrofit 1.9.0 library that i assume have dependency on OkHttp  library.
http://search.maven.org/#artifactdeta

[2015-10-09 02:13] jfsso commented on #137
@DaleCantwell No, we collected this with crashlytics and it's not reproducible with our devices. As I looked at the crash issue again, the statistics shows that 100% are rooted Jelly Bean devices.

[2015-10-09 03:40] cheah opened #138 "NPE in NexusSocket.onOpen()"
Crashlytics log: http://crashes.to/s/26fd125823d

[2015-10-09 10:26] harkin commented on #138
That line it's crashing on is invoking a method on an enum which (normally) isn't null.

It seems a little unusual that this is only happening on devices running kitkat. Are you multidexing your app and/or are you close to the method count limit?

Do you run proguard on your app? Proguard can simplify enums to int fields but it shouldn't be doing that here.

Is this something you can reproduce in

[2015-10-09 10:41] cheah commented on #138
Yes. We have a Nexus 7 device that consistently crashes due to this.

No proguard. But we do have MultiDex with 2 dex files.

[2015-10-09 10:51] harkin commented on #138
Just to be sure, are you using the [support multidex library](https://developer.android.com/tools/support-library/features.html#multidex) v1.0.1 and extending/installing the [MultiDexApplication](https://developer.android.com/reference/android/support/multidex/MultiDexApplication.html)?

Could you try updating to v1.1.7 of the Intercom library and see if you still get this crash? We didn't change

[2015-10-09 11:00] cheah commented on #138
We are using the v1.0.1 multidex library but instead of extending the MultiDexApplication class we are doing this instead:

[code]

Will try to update to the latest library and report back.

[2015-10-09 11:14] harkin commented on #138
That looks fine to me, so we can rule out a multidex issue. I'm going to look into this from our side and see what might be going wrong. Eager to hear how updating goes and if it's still present

[2015-10-14 17:49] danpe commented on #132
I'm also getting this on Nexus 5 Android 6.0

[2015-10-15 00:29] jfsso opened #139 "NPE in LightboxActivity"
[code]

[2015-10-15 03:38] cheah commented on #138
Upgraded to `1.1.7` and it seems not to crash anymore. Thanks!

[2015-10-15 12:01] shailendraborse opened #140 "JSON data is not synced in Intercom dashboard"
HashMap<String, Object> attr = new HashMap<String, Object>();
  attr.put("custom_attributes", jsonObject);
  Intercom.client().updateUser(attr);

Plzzzz suggest where I am doing wrong , I am sending the logs events that is synced with dashboard.
But my json data is not updated in account sections.

[2015-10-15 12:18] harkin commented on #140
@shailendraborse are you seeing anything in logcat when you do this update? We log everything with the 'Intercom-Android' tag

[2015-10-15 12:22] harkin commented on #138
@cheah great to hear :)

I haven't found out exactly what was going wrong yet, I suspect it's something in the underlying websocket layer. I'm going to keep looking and I'll update this issue if I find out. Gonna close it for now since it's working for you, reopen or let us know if you have any issues!

[2015-10-15 12:22] #138 closed

[2015-10-15 13:18] harkin commented on #140
oh, you're passing a `JSONObject` in I'm guessing? That won't work here unfortunately, you'll need to use `Map`s and `List`s as appropriate like in the examples [here](http://docs.intercom.io/Install-on-your-mobile-product/configuring-intercom-for-android)

[2015-10-15 13:18] #140 closed

[2015-10-15 14:36] harkin commented on #139
Looking into this

[2015-10-15 14:43] harkin commented on #139
`getIntent().getExtras().getString(IMAGE_URL, "")` is the line it's crashing on

are you trying to launch the activity directly yourself? If not, any information about how this state came to be? It looks like the intent or the extras are null when they shouldn't be. We don't set a new intent or in any way mutate the extras

[2015-10-15 15:41] harkin commented on #132
'soon' might have been ambitious in my last update, I'm still working on this. We're in the middle of QA and hope to release this fix/rework 'soon'

[2015-10-16 10:25] harkin commented on #137
That makes this significantly easier to diagnose; they've all denied/removed the permission/ability to access external storage so uploading an attachment is going :boom:.

We're currently handling the case correctly for Marshmallow but expecting to have permissions granted at install time for older versions of Android. I'm currently working on changing this. I'll also be looking at what we're doin

[2015-10-16 10:54] Dcodechef opened #141 "Null pointer exception"
Hi,
I am getting null pointer exception in
Caused by: java.lang.NullPointerException
17	at	io.intercom.android.sdk.utilities.DeviceUtils.generateMacId(DeviceUtils.java:62)
18	at	io.intercom.android.sdk.utilities.DeviceUtils.generateDeviceId(DeviceUtils.java:37)
19	at	io.intercom.android.sdk.user.DeviceData.generateDeviceData(DeviceData.java:26)
20	at	io.intercom.android.sdk.api.Api.ping(Api.java:1

[2015-10-16 11:02] harkin commented on #141
@Dcodechef what version of the library are you seeing this one? Is it on any specific device or widespread?

[2015-10-16 13:12] harkin commented on #141
Going by the line numbers you've provided it looks like this stacktrace is from a 0.9.x beta version of the library.

The last [issue](https://github.com/intercom/intercom-android/issues/88) with `DeviceUtils` was fixed in v1.0.4. We're currently on v1.1.7, I'd suggest updating to that.

[2015-10-16 13:12] #141 closed

[2015-10-19 06:45] mderazon commented on #116
We're migrating our app to 6.0 now as well. Can you please update what permissions / permissions groups are necessary / optional for intercom sdk ?
is `SYSTEM_ALERT_WINDOW` still necessary ?

[2015-10-19 14:55] harkin commented on #116
@mderazon `INTERNET`, `READ_EXTNERAL_STORAGE`, `MANAGE_DOCUMENTS` and `SYSTEM_ALERT_WINDOW` are the 4 essentials that we have in our manifest for the base module, nothing optional there. For the gcm module `WAKE_LOCK`, `...c2dm...RECEIVE`  and `VIBRATE` are the 3 essentials we put in the manifest and the two optional ones here are `ACCESS_NETWORK_STATE` and `READ_PHONE_STATE` that we'll use if you

[2015-10-20 05:40] tzahi-dapulse opened #142 "Intercom.initialize crashes the app"
java.lang.NoClassDefFoundError: io.intercom.android.sdk.R$drawable
	at io.intercom.android.sdk.identity.AppConfig.createColoredAvatar(AppConfig.java:236)
	at io.intercom.android.sdk.identity.AppConfig.<init>(AppConfig.java:71)
	at io.intercom.android.sdk.identity.AppIdentity.<init>(AppIdentity.java:30)
	at io.intercom.android.sdk.identity.IdentityStore.<init>(IdentityStore.java:19)
	at io.intercom

[2015-10-20 06:37] tzahi-dapulse commented on #142
Fix the issue
http://stackoverflow.com/questions/32205938/java-lang-noclassdeffounderror-android-support-v4-view-layoutinflatercompathc-i

[2015-10-20 08:29] gupta-sachin commented on #116
Is there any expected date for library without SYSTEM_ALERT_WINDOW. Why the issue is not re-opened?

[2015-10-20 08:30] DaleCantwell commented on #142
@tzahi-dapulse happy to hear you resolved the issue. Multidexing causes pleanty of headaches :smiley:

[2015-10-20 08:30] #142 closed

[2015-10-20 08:53] harkin commented on #116
@gupta-sachin This issue was fixed 30 odd days ago, the latest version of the library is fully compatible with Marshmallow.  The update I'm working on isn't directly related; we've wanted to remove the system window permission for a long time. No hard dates I'm afraid, I'd expect it within the week

[2015-10-20 11:40] gupta-sachin commented on #116
I am using a marshmallow device, and if I revoke this permission from settings, app is crashing even with latest version of library.

[2015-10-20 11:48] harkin commented on #116
@gupta-sachin that sounds weird, I don't think it's related to this issue. Can you open a new issue for this with all the details?

[2015-10-20 22:45] farukcankaya opened #143 "NPE cause crash in CallbackHolder"
java.lang.NullPointerException
       at io.intercom.android.sdk.api.CallbackHolder$2.success(CallbackHolder.java:43)
       at io.intercom.android.sdk.api.CallbackHolder$2.success(CallbackHolder.java:41)
       at io.intercom.android.sdk.api.Api$1.success(Api.java:196)
       at io.intercom.android.sdk.api.Api$1.success(Api.java:192)
       at retrofit.CallbackRunnable$1.run(CallbackRunnable.java

[2015-10-21 08:31] harkin commented on #143
@farukcankaya what devices and versions of android are you seeing this on? Are those devices rooted?

[2015-10-21 08:44] jfsso commented on #139
@harkin Ha! Was looking more into the details of this crash, it looks like there were a few dozens instances trying to launch this activity from an android emulator (even before using the app). No idea why. I guess there's no user impact here, please ignore this one. :+1:

[2015-10-21 08:54] harkin commented on #139
Oh I've actually seen that before myself! No clue why someone would want to launch activities like that. Let us know if there's anything else we can help with :+1:

[2015-10-21 08:54] #139 closed

[2015-10-22 13:19] harkin commented on #137
I've added some more checks for correct permissions and nulls popping up instead of URIs when we try to add an attachment in 1.1.8 so this _should_ be fixed, I wasn't able to reproduce something exactly like this on a rooted phone though so it's possible there's another cause I missed. I'm going to close this for now and if you see this on 1.1.8 let us know and we'll reopen and look into this agai

[2015-10-22 13:19] #137 closed

[2015-10-22 13:19] harkin commented on #132
version 1.1.8 had this change now, you won't see this issue again

[2015-10-22 13:20] #132 closed

[2015-10-22 13:22] harkin commented on #116
version 1.1.8 is out now and doesn't use the system alert permission

[2015-10-22 13:22] #129 closed

[2015-10-23 07:19] jfsso commented on #137
Thanks! I'll let you know if this one happens again.

[2015-10-25 09:27] liorry commented on #42
That is actually not true. I'm using 1.1.8 and the project will build successfully but won't run unless you add these to your proguard file:
<pre><code>
-dontwarn intercom.**
-dontwarn io.intercom.**
</code></pre>

[2015-10-25 09:50] farukcankaya commented on #143
@harkin
DEVICE: SM-G900H
ANDROID VERSION: 4.4.2
ROOTED

[2015-10-25 10:00] harkin commented on #42
Thanks for the heads up @liorry, we'll look into this next week

[2015-10-27 10:53] harkin commented on #42
@liorry I'm not able to reproduce that. I've made a new app, included the library and turned proguard on for debug builds and deployed it to my phone, it runs successfully. Could you give more details?

[2015-10-27 17:56] harkin commented on #143
I figured it was rooted. Do you know what ROM is on the phone, and what other customisations have been made?  What I suspect is happening here is that someone has denied/removed a permission in an opaque way.

We don't put high priority on issues from rooted phones; the customisations you can make are not always sane and if you make a customisation that breaks something on your phone, well that's

[2015-10-27 17:56] #143 closed

[2015-11-03 18:24] EstebanSelaya opened #145 "Intercom is showing an error: E/Intercom-Android: ERROR: Api call failed: Canceled"
After making the following call using the Intercom-java framework:

Intercom.client().displayConversationsList();

A new activity opens up and shows an error message where normally a conversation list would be. "Unable to load conversations". Further, the logs show the following error: "E/Intercom-Android: ERROR: Api call failed: Canceled".

I'm unable to find any documentation to this specific er

[2015-11-04 13:11] harkin commented on #145
I haven't come across that error in the library before. For calls to our server we surface any problems that the networking stack (okhttp) tells us about. We aren't explicitly cancelling a request there. The other reason that an exception with that reason gets thrown is if the response is `null` which it also shouldn't be.

I've got a few questions that'll hopefully narrow down why this is happeni

[2015-11-04 16:14] EstebanSelaya commented on #145
1. This suddenly broke down for us.

2. We're using the following import:

compile ('io.intercom.android:intercom-sdk:1.+@aar') {
        transitive = true
    }

3. We aren't going through any kind of proxy on the device. We're using our
office WiFi for network connection.

4. Test Device:

Moto X Pure Edition, Android version 5.1.1, unrooted.

On Wed, Nov 4, 2015 at 5:11 AM, Henry <notifications

[2015-11-04 18:16] harkin commented on #145
Hm, we released a new version of the library at around 5pm GMT yesterday, roughly two hours before you opened the initial issue. Had you noticed it before that? The new version didn't have any changes that would affect that part of the codebase so it should be unrelated, but the timing is a little too coincidental to ignore.

[2015-11-04 18:58] EstebanSelaya commented on #145
No I hadn't noticed anything before yesterday. To be fair though, I haven't
really looked at it since I set it up initially.

I don't think we've made any changes that would affect Intercom, but I'll
go over our Intercom user registration process and make sure it follows the
tutorial for both identified and unidentified users.

On Wed, Nov 4, 2015 at 10:16 AM, Henry <notifications@github.com> wrot

[2015-11-05 14:36] kukabi commented on #94
You may override Intercom's string resources by using the same keys in your string resource file:

[code]

[2015-11-05 14:39] caglarbozkurt commented on #94
We will configure and test this according to your comments. Many thanks, @kukabi!

[2015-11-05 16:42] EstebanSelaya commented on #145
Ok. After much tweaking to completely remove "unidentified" users. I've set
up a Intercom following the tutorial strictly for "identified" users only.
We're registering new users with the attributes "name" and "email".

The following error message now occurs when attempting the following:

 Intercom.client().displayConversationsList();

Error Message:

E/Intercom-Android: ERROR: Failed to register

[2015-11-05 16:43] EstebanSelaya commented on #145
*Edit We're also making the call to register an identified user just before
the displayConversationsList() call:

Map<String, Object> userMap = new HashMap<>();
userMap.put("name", name);
userMap.put("email", email);
Intercom.client().registerIdentifiedUser(new
Registration().withUserAttributes(userMap));

On Thu, Nov 5, 2015 at 8:42 AM, Esteban Selaya <esteban.selaya@hart.com>
wrote:

--
*Esteban

[2015-11-09 11:42] harkin commented on #139
I did a little looking into this, [one person suggests](http://stackoverflow.com/questions/26346336/unknown-device-in-the-crashlytics-log) it's part of the app publishing flow now where the Play Store runs a [monkey](http://developer.android.com/tools/help/monkey.html) around your app. @jfsso could you check if these crash reports line up with a release?

We weren't explicitly not exporting our ac

[2015-11-09 13:44] shiami opened #146 "Where can I find the information of "Deep Linking in messages"?"
Thank you.

[2015-11-09 13:47] shiami opened #147 "How can I get the unread status in the app?"
1. Knowing there are unread messages.
2. How many amount of unread messages?

Thank you.

[2015-11-09 15:37] DaleCantwell commented on #146
Hi @shiami, we currently don't have docs on deeplinking. We do support deep linking in that if you put a deep link in a message body or as the url in a button and your app or an app on your phone supports that native url scheme it will open it.
Feel free to send us a message at www.intercom.io and we can help you with any more detailed cases or any feature requests regarding deep linking.

[2015-11-09 15:37] #146 closed

[2015-11-09 15:39] DaleCantwell commented on #147
Hi @shiami, we handle all of this internally. If you have integrated Intercom Android in your app and are not setting the visuals to be gone whenever the logged in user gets a message they will see a chat preview pop up over their current activity. This chat preview also has a number count to let you know how many messages they currently have.
We don't have any direct callbacks on this to let deve

[2015-11-09 15:39] #147 closed

[2015-11-10 04:17] jfsso commented on #139
It doesn't seem to be lined up with releases. In fact, a one month old version of our app reported this crash last week. Anyways, this seems to not impact users so we're not concerned too much but I will let you know if we find something related to it.

[2015-11-10 12:36] shiami opened #148 "Could you provide more custom interface to setup or even better to open source the SDK?"
We love your platform and service.
We are working on an O2O service that deeply involve the customer management.

But your SDK is still very limit to change anything.
Even we can not change the language to Traditional Chinese since our main customers are in Taiwan.
Do you have any plan to open more customized settings especially to change the UI.
We really care about the user experience and the co

[2015-11-10 23:12] jahunt1 opened #149 "IndexOutOfBoundsException in version 1.1.3"
[code]

The problem appears to be in the ```ConversationAdapter```

[2015-11-11 18:28] eoin commented on #148
I'm afraid we don't currently have plans to open-source the SDK, but increased customisation and localisation are both on our roadmap.

[2015-11-11 18:28] #148 closed

[2015-11-12 13:12] harkin commented on #145
@EstebanSelaya sorry for the delay in getting back to you on this. Could you check to make sure you're using the correct api-key? In current versions using an incorrect api key will cause the error message you're seeing now, I'm going to work on making that more informative

[2015-11-15 10:29] shiami opened #150 "How to handle GCM manually?"
I need to handle multiple GCM from different SDK.
How can I handle the GCM by myself?

Thanks.

[2015-11-16 09:48] DaleCantwell commented on #150
@shiami could I get more information on what you are trying to do? Is it that you have set up Intercom GCM and you have another third party GCM integration you are trying to enable?
Currently if you integrate Intercom GCM we will create the push message for you, is there a particular SDK that you are encountering a conflict with?

[2015-11-16 10:25] harkin commented on #42
Gonna close this one out, will reopen if I get more details about what was giving warnings

[2015-11-16 10:25] #42 closed

[2015-11-16 10:31] harkin commented on #149
Thanks for reporting this one. I'll look into what's happening here. How often are you seeing this?

[2015-11-16 15:05] MikhailSkiyAtWork opened #151 "Can't get push notification on my phone"
I downloaded the sample for android. Change all Api_Key and all other necessary staff. In Intercom admin panel I see my user and send him a message. But I see this message only when open the app. If the app closed I don't see any push notifications. Should I use broadcast receiver and service for it? Also I have another app where I creaetd broadcast and service to start necessary activity if the p

[2015-11-16 15:56] jahunt1 commented on #149
This is the only time I have seen this particular crash. The crash report indicated this happened on a SM-G920V running Android 5.1.1. In the meantime, we have updated our build config to use a newer version of the Intercom SDK.

[2015-11-16 15:58] DaleCantwell commented on #151
@MikhailSkiyAtWork are you seeing any errors in the log during registration?
There are many reasons this could be failing:
1. The device doesn't have an up to date play services (that should be in the logs).
2. The google developer console SDK key is either not matching or not included in your Android integration on Intercom (that is located in your Intercom Integrations page where you get your AP

[2015-11-17 07:08] shiami opened #152 "How to unregister GCM?"
I still received gcm notification after calling the following method.

    private void logout(){
    // This resets the Intercom library's cache of your user's identity and wipes the slate clean.
    Intercom.client().reset();

    // Now that you have logged your user out and reset, you can register a new
    // unidentified user in their place.
    Intercom.client().registerUnidentifiedUser();

[2015-11-17 11:47] DaleCantwell commented on #152
@shiami thanks for letting us know about this issue. I'll look into reproducing this

[2015-11-17 17:00] vishna commented on #145
Also getting this issue, plus network call isn't even fired.

[2015-11-17 17:25] vishna opened #153 "E/Intercom-Android: ERROR: Failed to register or update user: Canceled"
So API_KEY and APP_ID is all set as requested in your "Add Integration" manual. Registering anything fails, pretty much boils down to some RetrofitError - the API request for some reason is never actually fired.

Using `intercom-sdk-base:1.+@aar` so no GCM. Sidenote, using + notation for the version, as you recommend, is not a good practice.

[code]

[2015-11-17 19:43] trevjonez opened #154 "Stop repackaging other libraries. DexMethodCount"
At current I am seeing in my build that you have repackaged a stack of libraries that count against the overall dex count. List is as follows(based on version 1.1.8@aar)

`com.google.gson` : 964
`com.squareup.okhttp` : 1692
`com.squareup.otto` : 57
`com.squareup.picasso` : 536
`com.squareup.okio` : 499
`com.squareup.retrofit` : 493
`uk.co.senab.photoview` : 258

In my case i already have okhttp, p

[2015-11-18 11:40] harkin commented on #154
Thanks for the feedback, we've actually discussed this [in the past](https://github.com/intercom/intercom-android/issues/126#issuecomment-135748670) (you can follow links in that issue to other related issues if you want to). I'm not going to rehash the whole thing again; there are arguments for and against repackaging the dependencies and currently we feel that the advantages for us outweigh the

[2015-11-18 11:40] #154 closed

[2015-11-18 11:53] harkin commented on #153
closing as dupe of https://github.com/intercom/intercom-android/issues/145

re the sidenote, if you want you can specify the version, `1.1.9`

[2015-11-18 11:53] #153 closed

[2015-11-18 11:54] harkin commented on #145
copying in from https://github.com/intercom/intercom-android/issues/153

So API_KEY and APP_ID is all set as requested in your "Add Integration" manual. Registering anything fails, pretty much boils down to some RetrofitError - the API request for some reason is never actually fired.

Using `intercom-sdk-base:1.+@aar` so no GCM. Sidenote, using + notation for the version, as you recommend, is not

[2015-11-18 13:50] harkin commented on #145
@vishna have you registered a user with Intercom (called `Intercom.client().register(un)identifiedUser()`) when you see this with in the logs?

I'm becoming more confident that this is just a logging issue. Whenever we communicate with our servers we check that a user has been registered and that app details have been provided. If either of those are false we'll drop that request. This results in

[2015-11-18 16:44] vishna commented on #145
@harkin in short answer yes.

So we need minimal integration on our side, just notify intercom whenever user is logged in or is logged out/opens the app. Nothing more.

I've created this wrapper so I can plug in/out Intercom support more easily. It listens to Activity changes and then fires appropriate calls based on the account object being present or not (if it's not there user is logged out obv

[2015-11-18 17:10] trevjonez commented on #126
Why not offer both options. Assuming you are running your build with the android gradle plugin a very viable option would be to have a repackaged lib flavor and a transitive flavor.

This is really just a cop out so you don't have to support people that remain oblivious to their build dependencies. (ironic given that the concept intercom is primarily based on providing the best customer support)

[2015-11-23 12:14] harkin commented on #136
@AndrejLukasevic sorry for taking so long to get back to you on this

You're spot on, that is waaay too many threads. The short version is that we have a websocket connection and it spins up a thread for itself to do it's work on. When you background an app we disconnect from the websocket but were *not* stopping that thread and it was leaking. I'm fixing this now, next version of the library will

[2015-11-25 10:23] shiami commented on #152
Any updates?

I found that the SDK provide a way to register GCM id.

    Intercom.client().setupGCM(regId, R.mipmap.ic_launcher);

But no way to unregister it.

[2015-11-26 12:58] shiami opened #155 "Can't upload file sometimes"
E/Intercom-Android: ERROR: Upload failed: request body io.intercom.com.squareup.okhttp.MultipartBuilder$MultipartRequestBody@ee0127c

[2015-11-26 13:04] shiami commented on #150
Yes, I have set up Intercom GCM and trying to add another GCM by our own or another 3rd party service like Layer.

Is that going to be a trouble?

[2015-11-26 13:12] shiami opened #156 "Require all strings defined in the values.xml"
There are some strings are hard-coded in the java classes:

1. [Inline Image] in the conversation list
2. Timestamps (For example: 9m ago) in the conversation list and message list.
3. "SEND" and "CANCEL" in the photo upload.
4. Might be more..

Could you define those strings in the values.xml so that we can override them in our main app with the same strings' id?

It's very important for us to se

[2015-11-26 13:41] shiami opened #157 "Can I change the notification icon?"
At least we would like to use our app icon in the notification, please.

[2015-11-26 14:00] shiami commented on #155
It might failed many times.
Please help to deal with it or provide a better log to see what's going wrong.

Thanks.

[2015-11-26 14:21] shiami opened #158 "GCM delay"
We are in Taiwan, and the GCM message seems not quite instant delivered.
It cost 10~30 seconds to receive the GCM.
I think GCM is much faster than that.
Please help to deal with it.
Thank you.

[2015-11-26 14:34] DaleCantwell commented on #158
Hi @shiami,
As we support real time messaging we need to add an artificial delay to make sure a message has not been marked as read before we send the push. If we didn't do this and a user was logged in on two devices they would be getting spammed push messages for every reply on one device even though the conversation is open on another.
We will look into any performance increases we can make but

[2015-11-26 14:34] #158 closed

[2015-11-26 14:41] DaleCantwell commented on #157
Hi @shiami,
If you are referring to GCM notifications you may pass in a custom drawable as the second parameter of this method:
Intercom.client().setupGCM(regId, R.drawable.ic_launcher);
-Dale

[2015-11-26 14:41] #157 closed

[2015-11-26 14:45] DaleCantwell commented on #155
Hi @shiami
Do you have any additional information? Some sueful details would be:
Filetype
Size
Where it is stored (local, dropbox, googledrive ect)
Thanks,
Dale

[2015-11-26 14:46] DaleCantwell commented on #152
Our next update will have a fix for this issue. Reset will now clear the device token.

[2015-11-26 14:57] DaleCantwell commented on #156
@shiami we plan on supporting localisation very soon. We will be moving any hard coded strings in Java files as part of this.

[2015-11-27 15:28] #152 closed

[2015-11-27 15:31] shiami commented on #155
Just normal images captured using mobile phone's camera.
Stored in sdcard of my phone of course.

Sometimes it took several retries to successfully upload the image.

We are located in Taiwan. Where is your server by the way?

[2015-11-27 15:32] DaleCantwell commented on #151
@MikhailSkiyAtWork going to close this guy out for now, ping us if this is still an issue for you.

[2015-11-27 15:32] #151 closed

[2015-11-27 15:35] DaleCantwell commented on #149
@jahunt1 I'm going to close this issue out for now as I haven't seen any reports of it on our newest SDK version. Ping us if you encounter this on one of our newer version.

[2015-11-27 15:35] #149 closed

[2015-11-27 15:40] DaleCantwell commented on #150
As long as ayer has some protection against drawing other SDKs push messages there shouldn't be an issue. Reopen this issue if you come across any conflicts with other third party push integrations.

[2015-11-27 15:40] #150 closed

[2015-11-27 16:52] harkin commented on #145
I've just pushed a release that does two things: improves logging here and also removes some cases where things were incorrectly being logged.

@vishna @EstebanSelaya if you guys could check out 1.1.10 and see if you're still seeing an issue I'd love to know and we can go from there

[2015-12-01 08:23] danikula commented on #85
@harkin Please explain what kind of html may force this crash? This issue crashed tons of my users yesterday.

[2015-12-01 08:46] shiami opened #159 "App icon for GCM not working"
Intercom.client().setupGCM(regId, R.mipmap.ic_launcher);

It does not change the app icon in the GCM notification.

[2015-12-01 08:57] shiami opened #160 "Not received GCM notifications from Auto Messages, and Intercom API calls"
I can receive GCM notifications if I send from Intercom website or Intercom Android app.
But can not receive GCM notifications from Auto Messages, nor Intercom API calls.
Is there any difference or do I miss something?
Please help.

[2015-12-01 10:19] skylerwshaw commented on #160
Hey Shiami, I've responded to your conversation started within the Intercom dashboard. This issue is unrelated to the `intercom-android` SDK.

[2015-12-01 10:19] #160 closed

[2015-12-01 10:25] DaleCantwell commented on #159
Hi @shiami, I can't reproduce the issue. I have tried with drawables and mipmaps. Could you put a breakpoint on that line and make sure it is being hit?

[2015-12-01 11:23] vishna commented on #145
@harkin cool, seems to be working now, thanks!

[2015-12-01 11:28] vishna commented on #145
@harkin btw I see you're using okhttp, just like us - any chance you release version of this library without okhttp classes repackaged so we could reduce total count of methods?

[2015-12-01 15:50] shiami commented on #158
Hi, I just received a notification that sent around 21 mins before.
Is that really possible or something did went wrong?

[2015-12-01 15:51] shiami commented on #159
Yes, it is called. But the icon in the notification is a completely white square.

[2015-12-01 16:05] DaleCantwell commented on #159
@shiami are you following the Material guidelines for the icon?
From the following page http://developer.android.com/design/patterns/notifications.html under the heading "Use distinct icons" it explains:
"Don't use color to distinguish your app from others. Notification icons should only be a white-on-transparent background image." and that "Android uses these icons as masks (that is, only the alp

[2015-12-01 16:05] #159 closed

[2015-12-01 16:21] harkin commented on #85
@danikula I believe it was some markup, like italics, that was causing the issue. We were measuring the length of the string before and after interpreting that markup and using the wrong length for a span

[2015-12-01 16:24] DaleCantwell commented on #158
The only way I can check the timing is by looking at the conversation id. Could you write into Intercom using our web widget in the bottom right of intercom.io and ask for Dale to read over this and paste in the conversation id. It is not good to share the id publicly here which is why I am requesting this goes into Intercom.
Thanks

[2015-12-01 16:28] harkin commented on #145
@vishna Glad to hear it's working now :) I'll close this out, let me know if you see any issues

For the current version (1.x.x) it's unlikely we'll offer anything without repackaged dependencies. I've written about why this is a good thing for us as a library to do [here](https://github.com/intercom/intercom-android/issues/126#issuecomment-135748670) (there are some linked issues there that might

[2015-12-02 01:30] virengujariya opened #161 "Error when initialize intercom (intercom-sdk:1.1.3)"
[code]

[2015-12-02 01:37] virengujariya commented on #161
resolved with intercom-sdk:1.1.8 (referred to issue #116)

[2015-12-02 01:39] #161 closed

[2015-12-02 01:40] virengujariya opened #162 "intercom-sdk:1.1.8 gives Zip Exception: duplicate entry"
[code]

[2015-12-02 01:50] virengujariya commented on #162
I have ```com.google.android.gms:play-services-analytics``` dependency included as well.

[2015-12-02 10:01] harkin commented on #162
What version of `play-services-analytics` are you using? We include `com.google.android.gms:play-services-gcm:8.1.0` for gcm, I suspect the issue is that you're using `8.3.0`. Two workarounds for this: use `8.1.0` or include `com.google.android.gms:play-services-gcm:8.3.0` (with the understanding that we can't stand behind an integration that uses version `8.3.0` of the gcm lib as we haven't fully

[2015-12-02 10:01] #162 closed

[2015-12-08 19:38] bsiegel commented on #149
We've experienced this in v1.1.9 of the SDK. We will be updating to use the most recent version, but I don't see anything in the changelogs to indicate this issue might have been fixed between 1.1.9 and 1.1.11.

Device:	SM-N915R4, OS Version:	Android 5.0.1
Device:	LGUS991, OS Version:	Android 5.1

[code]

[2015-12-10 13:43] khuranakaran commented on #116
@harkin how did u resolve this issue?

[2015-12-10 14:42] harkin commented on #116
@khuranakaran the long term plan to fix this issue was a large enough refactor so that we didn't need the systems alert window permissions. No permission no problem!

The short term solution we went with was to change the window layer we were drawing to if we didn't have that permission (ie on Marshmallow devices). Off the top of my head I can't remember which layer we moved to, there were a few p

[2015-12-15 04:28] cheah opened #163 "NPE in AvatarUtils"
[code]

[2015-12-15 10:06] harkin commented on #163
@cheah could you give me some information on what phones you're seeing this crash on and it's frequency?

[2015-12-16 00:52] cheah commented on #163
http://crashes.to/s/6dfaeea6d6a

[2015-12-17 05:21] madhurtewani-wow opened #164 "java.lang.NullPointerException in ConversationAdapter.java"
App crashing due to NullPointerException in ConversationAdapter.java, following is the stack trace for the same:

[code]

Can you help me with the solution?

[2015-12-21 20:26] iamcharleych opened #165 "Intercom breaks Retrofit network manager"
In my project I'm using Retrofit 2.0 + Rx. Also I'm using Intercom for analytics.
[code]
'com.squareup.retrofit:retrofit:2.0.0-beta2'
    compile 'com.squareup.retrofit:converter-gson:2.0.0-beta2'
    compile 'com.squareup.retrofit:adapter-rxjava:2.0.0-beta2'
    compile 'com.squareup.okhttp:okhttp:2.0.0'
    compile 'io.reactivex:rxandroid:1.1.0'
    compile 'io.reactivex:rxjava:1.1.0'
[code]

[2015-12-21 23:05] harkin commented on #165
It sounds like you're going over the 64k method limit and need to enable multidexing in your project

[2015-12-22 08:32] iamcharleych commented on #165
Yep! You're right. Thanks

[2015-12-22 08:32] #165 closed

[2015-12-24 11:33] mzorz opened #166 "GCM icon not shown for all notification styles"
Might be related to this issue here (https://github.com/intercom/intercom-android/issues/159) - I think I'm having an issue with this too. I'm passing a custom drawable that follows the material design principles, etc. and it is shown alright in the status bar area but it's not showing (it shows some other default icon which doesn't look good). Check the screenshots attached.

![screen shot 2015-1

[2015-12-24 16:21] DaleCantwell commented on #166
Hi @mzorz thanks for contacting us. The icon you pass in is used for the notification icon which is used in the status bar and depending on the OS a small bubble to the bottom right of the large icon, see the bottom notification in the diagram. What we use for the main icon (labeled as photo in the image below) is the senders avatar. If you set up a profile picture on Intercom for that account it

[2015-12-24 16:21] #166 closed

[2015-12-26 13:32] DaleCantwell commented on #164
Hi @madhurtewani-wow do you know what version of the Android integration this happened in?
Did you see this happen yourself or did it come in through some crash tracking tool? If you saw it yourself can you send me some details of that conversation? I am wondering what type of message caused it.

[2015-12-28 04:29] madhurtewani-wow commented on #164
Hi @DaleCantwell, this issue happened on Android 4.3 on Xiaomi HM 1SW phone. I got this through crash tracking tool, I didn't see it happen myself.

[2015-12-29 18:36] akshaydeo opened #167 "When proguard is applied, io.intercom.com.squareup.okhttp.Connection objects are being retained"
I am working on an Android project that uses RxJava, RxAndroid, Retrofit and Intercom SDK. When proguard is not applied, then there is no significant allocations I see related to Connection class. But when I apply proguard, suddenly the allocations for connection go on increasing resulting into an ANR.

My proguard config related with intercom is
[code]
Attached Memory DUMP along with the issue

!

[2015-12-29 19:15] harkin commented on #167
Thanks for reporting this to us @akshaydeo.

Could you give some more details about when the ANR occurs or what you need to do to trigger it when you have proguard enabled? Eg do you just open your app and leave it sitting there for 5 minutes or do you need to do something like background and reopen it multiple times before it stops responding? Basically we'll need to reproduce this to see just wh

[2015-12-29 19:32] akshaydeo commented on #167
Hey, so this occurs when I just open the app. I am tracking the user info on that activity using intercom. No need of going in the background, on low end phones (without ART) app freezes withing 5 seconds. The only reason I see is this linked list containing Connections.

I am using 1.1.12.

[2015-12-29 19:55] harkin commented on #167
I don't have a low end device here to look at it on so I don't think I'll be able to help much for now.

We have proguard enabled for [our android app](https://play.google.com/store/apps/details?id=io.intercom.android&hl=en) and don't get ANR reports. We're using most of the default settings for Proguard though, are you using different settings? Aggressive optimisation or the like?

[2015-12-30 05:25] akshaydeo commented on #167
My proguard rules
[code]

[2016-01-04 19:11] scottlahay commented on #139
This still seems to be happening

[2016-01-05 00:02] harkin commented on #139
@scottlahay do you have a crash log of it happening not from an android emulator?

[2016-01-05 00:12] scottlahay commented on #139
@harkin Here you go

<pre>
Fatal Exception: java.lang.NullPointerException
       at io.intercom.android.sdk.conversation.lightbox.LightboxActivity$1.callback(LightboxActivity.java:44)
       at io.intercom.android.sdk.views.AttachedImageView.onAttachedToWindow(AttachedImageView.java:22)
       at android.view.View.dispatchAttachedToWindow(View.java:11967)
       at android.view.ViewGroup.dispatch

[2016-01-05 01:22] harkin commented on #139
@scottlahay are you sure it isn't happening on an android emulator? This crash happens when someone starts that activity and doesn't pass the right extras with the intent. We make sure we don't do that in the sdk so it's almost certainly someone that isn't the Intercom library trying to start the activity.

I do plan to refactor it a bit so that it doesn't crash if an extra is missing but it's ver

[2016-01-05 18:26] scottlahay commented on #139
It happened while everyone was on holiday. So completely sure it didn't
come out of an emulator. I don't think I even start that intent in our app,
so I'm confused at why we get it in the first place.

On 4 January 2016 at 17:22, Henry <notifications@github.com> wrote:

[2016-01-14 22:28] rohans310 opened #169 "Dependencies section in README"
This is not an issue, just a question I have. Sorry if this is not the right place for this. Why does the README state that the compileSdkVersion needs to be 23?

Thanks.

[2016-01-15 09:32] mevipul opened #170 "IllegalStateException in the FragmentManager"
Fatal Exception: java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
       at android.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1343)
       at android.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1361)
       at android.app.BackStackRecord.commitInternal(BackStackRecord.java:729)
       at android.app.BackStackRecord.commit(BackS

[2016-01-15 10:02] harkin commented on #170
@mevipul I'll look into what's happening here.

Can you give any steps to reproduce this? What's the frequency with which you're seeing this, what devices and OS versions?

[2016-01-15 10:07] harkin commented on #169
@rohans310 here's good or you can always contact us through our messenger on intercom.io :)

The compileSdkVersion should always be the latest available even if you're targetting a previous version of Android still. To the best of my knowledge the library will work if you compile against 22 but there's no reason to do that and we can't give any guarantees as we've been compiling against 23 for mon

[2016-01-15 10:07] #169 closed

[2016-01-15 15:42] rohans310 commented on #169
Thanks @harkin ! I thought so too. I've read it's preferred to have the compileSdk and targetSdk versions the same.

[2016-01-15 18:58] lithid opened #171 "Crittercism integration stops images from loading inside Intercom."
We are seeing an issue that effects all devices running a release build with `debugging = false` and multidex enabled. The issue is that no images load inside of intercom. Contact images do not show up, they just show the default contact image. Images inside the conversations do not show up. Seems like any image that intercom attempts to load over the network doesn't work correctly and fails when

[2016-01-15 21:02] harkin commented on #171
Hi @lithid. That's unusual.

If it's multidex related then what I expect is happening is that there's a dex file being generated that is, for some reason, not being referenced/parsed/loaded correctly at runtime and this particular dex file is where some/all of the image loading (we use [Picasso](https://github.com/square/picasso)) code lives.

It's unusual that this is only happening for pre Lolli

[2016-01-15 21:24] lithid commented on #171
We are running proguard on release.
[code]

If I change `debuggable false` > `debuggable true`, everything works as expected. Proguard still runs, just enabled debugging and seems strange to me as well.

[2016-01-15 21:50] harkin commented on #171
Hm. Is everything else definitely working in your app? We've seen cases where another part of the codebase starts failing silently when the build changes slightly.

Just to be 100% sure, are you extending the MultiDexApplication and including the multidex support library v1.0.1 in your app?

[2016-01-15 21:50] lithid commented on #171
Yes to both.

[2016-01-16 15:17] lithid commented on #85
We are running on build 1.1.9 and are seeing this crash happen still. I just updated the library to 1.1.12 and have our app ready for beta on Monday, but I see no fixes for this between 1.1.9-1.1.12. I think this issue still exists, or something new was introduced.

[report.txt](https://github.com/intercom/intercom-android/files/92941/report.txt)

[2016-01-17 19:23] harkin commented on #85
@lithid that looks like a new issue to me, I'll open an issue for it tomorrow (if you don't beat me to it)

[2016-01-18 03:12] mevipul commented on #170
@harkin You can find the details here
http://crashes.to/s/f0c60d47827
Thanks

[2016-01-18 13:03] harkin opened #172 "Passing invalid URL to Picasso"
taken from https://github.com/intercom/intercom-android/issues/85

[code]

[2016-01-18 13:36] harkin commented on #172
@lithid I've found the issue in the library and it'll be patched in our next release. We weren't handling lack of data well. I'm a little concerned that we had this lack of data though, do you happen to have an example of a conversation that was crashing so that I could track what's going on through our backend systems?

[2016-01-18 16:17] harkin commented on #170
@mevipul that looks to be a separate crash to me. Could you make a new issue for it and include all the relative details, including how to reproduce

[2016-01-18 17:20] bsiegel commented on #172
@harkin Jumping in for @lithid, I can send you a link to the user who experienced the crashes. A total of three different support sessions were created since each time the crash occurred and the user re-engaged us, it started a new support session. Do you have an e-mail address I can send this info to?